<!DOCTYPE html>
{% load static %}
<html lang="fa" class="light-style customizer-hide" dir="rtl" data-theme="theme-default" data-assets-path="../../assets/" data-template="vertical-menu-template-no-customizer">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>خطا</title>

    <meta name="description" content="">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.png' %}">

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icons.css' %}">

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/core.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/theme-default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/rtl.css' %}">

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/typeahead-js/typeahead.css' %}">

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-misc.css' %}">
    <!-- Helpers -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'assets/js/config.js' %}"></script>
  </head>

  <body>
    <!-- Content -->
    <!-- Error -->
    <div class="container-xxl container-p-y">
      <div class="misc-wrapper">
        <h1 class="mb-2 mx-2 secondary-font">صفحه یافت نشد :(</h1>
        <p class="mb-4 mx-2">شما مجاز به دیدن این صفحه نیستید</p>
        <a href="{% url 'home' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}" class="btn btn-primary">بازگشت به خانه</a>
      </div>
    </div>
    <!-- /Error -->
  </body>
</html>