{% extends 'base.html' %}
{% load static %}
{% block title %}
	ویرایش مخاطب دریافت پیامک
{% endblock %}
{% block meta_description %}
	ویرایش مخاطب دریافت پیامک
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
    {% if request.user.is_superuser %}
    <h4 class="py-3 breadcrumb-wrapper mb-4">ویرایش مخاطب دریافت پیامک</h4>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
              <div class="card mb-4">
                <div class="card-body">
                  <div>
                    <label class="form-label" for="id_name">نام:</label>
                    <input type="text" class="form-control" name="name" value="{{contact.name}}" maxlength="255" required="" id="id_name">
                    <label class="form-label" for="id_mobile">شماره موبایل:</label>
                    <input type="number" class="form-control" name="mobile" value="{{contact.mobile}}" maxlength="11" required="" id="id_mobile" pattern="09[0-9]{9}" placeholder="09xxxxxxxxx">
                    <div class="form-check form-switch" style="margin-top: 20px;">
                      <label class="form-check-label" for="flexSwitchCheckDefault">فعال</label>
                      <input class="form-check-input" type="checkbox" name="is_active" id="flexSwitchCheckDefault" checked="">
                      <p style="display: none;" id="check-checkbox">{{contact.is_active}}</p>
                    </div>
                    <button class="btn btn-primary" type="submit">ثبت</button>
                    <a href="{% url 'alert-from-sms-contact-list' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}" class="btn btn-secondary" type="button" style="margin: 30px;">بازگشت</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </form>
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
          <div style="display: none;" class="alert alert-success" role="alert">{{ message }}</div>
          {% elif message.tags == 'warning' %}
          <div style="display: none;" class="alert alert-warning" role="alert">{{ message }}</div>
          {% else %}
          <div style="display: none;" class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}
{% else %}
<p>شما اجازه دسترسی به این قسمت را ندارید</p>
{% endif %}
{% endif %}
{% endblock %}
{% block extra_js %}
<!-- Sweet Alert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--Check Checkbox-->
<script>
    const checkCheckbox = document.getElementById("check-checkbox");
    const thisCheckbox = document.querySelector(".form-check-input");
    if (checkCheckbox.innerText === "True") {
        thisCheckbox.checked = true;
    } else {
        thisCheckbox.checked = false;
    }
</script>
<!-- Pop Ups -->
<script>
  try {
    const successContainer = document.querySelector(".alert-success");
    if (successContainer) {
      const success = successContainer.innerText;
        Swal.fire({
        icon: "success",
        title: "موفق",
        html: `${success}<br><br><a class="btn btn-primary" href="{% url 'alert-from-sms-contact-list' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}">بستن</a>`,
        showConfirmButton: false,
      });
    }
  } catch (error) {
    console.log(error);
  }
  
  try {
    const errorContainer = document.querySelector(".alert-danger");
    if (errorContainer.children.length >= 1) {
      const error = document.querySelector(".errorlist li .errorlist li").innerText;
        Swal.fire({
        icon: "error",
        title: "خطا",
        html: `${error}`,
        confirmButtonColor: '#5a8dee',
        confirmButtonText: 'بستن' 
      });
    }
  } catch (error) {
    console.log(error);
  }
</script>
{% endblock %}