{% extends 'base.html' %}
{% load static %}
{% block title %}
        آنالیز اطلاعات
{% endblock %}
{% block meta_description %}
	   آنالیز اطلاعات
{% endblock %}
{% block extra_css %}
<!-- Style for Calendar, FlatPicker and Toastr -->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/fullcalendar/fullcalendar.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/libs/flatpickr/flatpickr.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/css/pages/app-calendar.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/libs/toastr/toastr.css' %}" />
<!-- Custom Style for FlatPicker Calendar -->
<style>
    .light-style .flatpickr-calendar {
    box-shadow: none !important;
    }
</style>
<!-- Custom Style for the Loading Overlay -->
<style>
    .loading-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }
    .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .highcharts-credits {
        display: none;
    }
</style>
{% endblock %}
{% block content %}
<div class="loading-overlay" id="loading-overlay">
    <div class="loader"></div>
</div>
<div class="container" id="menu">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12" style="margin: 20px 0px; color: rgb(0, 0, 0); cursor: pointer;" id="agg-con-percent">
            <div class="card" style="background-color: #f8f2dbcc;">
                <div class="card-body">
                    <h4 class="card-title">نرخ تبدیل ترافیک (TCR)</h4>
                    <p class="card-text">
                        این نمودار نشان می‌دهد که در هر روز، به‌صورت تجمیعی در همه شعب، چه درصدی از ورودی‌ها به خرید منجر شده‌اند. 
                        محاسبه به این شکل است که تعداد کل فاکتورها تقسیم بر تعداد کل ورودی‌ها شده و در 100 ضرب می‌شود.
                        <br>❓<strong>پاسخ به سؤال:</strong> در هر روز چه درصدی از افرادی که وارد شعب شده‌اند، خرید انجام داده‌اند؟
                    </p>
                    <p style="text-decoration: underline;">مشاهده</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12" style="margin: 20px 0px; color: rgb(0, 0, 0); cursor: pointer;" id="branch-con-percent">
            <div class="card">
                <div class="card-body" style="background-color: #daedfacd;">
                    <h4 class="card-title">نرخ تبدیل به تفکیک شعب (BTCR)</h4>
                    <p class="card-text">
                        این نمودار مشابه "نرخ تبدیل ترافیک" است با این تفاوت که آمار هر شعبه به‌صورت جداگانه و همزمان نمایش داده می‌شود.
                        <br>❓<strong>پاسخ به سؤال:</strong> نرخ تبدیل هر شعبه در هر روز چگونه با دیگر شعب مقایسه می‌شود؟
                    </p>
                    <p style="text-decoration: underline;">مشاهده</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12" style="margin: 20px 0px; color: rgb(0, 0, 0); cursor: pointer;" id="agg-entry-val">
            <div class="card">
                <div class="card-body" style="background-color: #fddcdcbc;">
                    <h4 class="card-title">ارزش ورودی (EV)</h4>
                    <p>
                        این نمودار میانگین ارزش تومانی هر ورودی را در همه شعب و برای هر روز نشان می‌دهد. 
                        محاسبه به این شکل است که مجموع مبلغ فاکتورها تقسیم بر تعداد کل ورودی‌ها می‌شود.
                        <br>❓<strong>پاسخ به سؤال:</strong> در هر روز به‌طور میانگین هر ورودی چه مقدار فروش ایجاد کرده است؟
                    </p>
                    <p style="text-decoration: underline;">مشاهده</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12" style="margin: 20px 0px; color: rgb(0, 0, 0); cursor: pointer;" id="branch-entry-val">
            <div class="card" style="background-color: #f2fcdcdc;">
                <div class="card-body">
                    <h4 class="card-title">ارزش ورودی به تفکیک شعب (BEV)</h4>
                    <p>
                        این نمودار همان "ارزش ورودی" است با این تفاوت که امکان مشاهده آمار به‌صورت همزمان یا تفکیکی برای هر شعبه وجود دارد.
                        <br>❓<strong>پاسخ به سؤال:</strong> میانگین ارزش هر ورودی در هر شعبه چقدر است و چقدر با سایر شعب تفاوت دارد؟
                    </p>
                    <p style="text-decoration: underline;">مشاهده</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12" style="margin: 20px 0px; color: rgb(0, 0, 0); cursor: pointer;" id="one-to-all-entry">
            <div class="card" style="background-color: #eadafdcc;">
                <div class="card-body">
                    <h4 class="card-title">سهم ترافیک شعبه (BTS)</h4>
                    <p>
                        این نمودار نشان می‌دهد که در هر روز، چه درصدی از کل ترافیک ورودی همه شعب، مربوط به یک شعبه خاص بوده است.
                        <br>❓<strong>پاسخ به سؤال:</strong> سهم یک شعبه از کل ورودی‌های روزانه چند درصد است؟
                    </p>
                    <p style="text-decoration: underline;">مشاهده</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12" style="margin: 20px 0px; color: rgb(0, 0, 0); cursor: pointer;" id="all-to-all-entry">
            <div class="card">
                <div class="card-body" style="background-color: #e7e7e7cd;">
                    <h4 class="card-title">سهم ترافیک همه شعب (TBTS)</h4>
                    <p>
                        این نمودار درصد سهم هر شعبه از کل ورودی‌های هر روز را نشان می‌دهد. همه شعب همزمان نمایش داده می‌شوند و مجموع درصدها برابر با 100% است.
                        <br>❓<strong>پاسخ به سؤال:</strong> سهم هر شعبه از ترافیک کل در هر روز به چه شکل توزیع شده است؟
                    </p>
                    <p style="text-decoration: underline;">مشاهده</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="body" style="display: none;">
    <div class="row">
    <!-- Date Accordion -->
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" style="margin-bottom: 10px;">
        <h6>تاریخ</h6>
        <div class="accordion mt-3 accordion-header-primary" id="accordionDate">
            <div class="card accordion-item">
            <h2 class="accordion-header d-flex align-items-center">
                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseDate" aria-expanded="true">
                <i class="menu-icon tf-icons bx bx-calendar"></i>
                انتخاب تاریخ
                </button>
            </h2>

            <div id="collapseDate" class="accordion-collapse collapse" data-bs-parent="#accordionDate">
                <div class="accordion-body" style="display: flex; justify-content: center; align-items: center; position: absolute; z-index: 1001; width: 100%; background-color: white; box-shadow: 0 0.25rem 1rem rgba(147, 158, 170, 0.45);">
                <div id="date-range"></div>
                </div>
            </div>
            </div>
        </div>              
    </div>
    <!-- Branch Accordion -->
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-bottom: 10px;">
    <h6>شعب</h6>
        <div class="accordion mt-3 accordion-header-primary" id="accordionBranch">
            <div class="card accordion-item">
            <h2 class="accordion-header d-flex align-items-center">
                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseBranch" aria-expanded="true">
                <i class="menu-icon tf-icons bx bx-map-alt"></i>
                انتخاب شعب
                </button>
            </h2>
            <div id="collapseBranch" class="accordion-collapse collapse" data-bs-parent="#accordionBranch">
                <div class="accordion-body" style="position: absolute; z-index: 999; width: 100%; background-color: white; box-shadow: 0 0.25rem 1rem rgba(147, 158, 170, 0.45);">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="select-all">
                        <label class="form-check-label" for="defaultCheck1">انتخاب همه</label>
                    </div>
                    {% for branch in branches %}
                    <div class="form-check">
                        <input class="form-check-input fake-check" type="checkbox" value="{{ branch.pk }}">
                        <label class="form-check-label" for="defaultCheck1">{{ branch.name }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>   
    </div>
    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12" style="margin-top: 20px; display: flex; justify-content: center; align-items: center;">
        <form action="" method="get" id="filter-form">
            <label style="display: none;" for="start-date">از تاریخ</label>
            <input type="text" name="start-date" id="start-date" style="display: none;">
            <label style="display: none;" for="end-date">تا</label>
            <input type="text" name="end-date" id="end-date" style="display: none;">
            {% for branch in branches %}
            <div class="form-check mt-3" style="display: none;">
                <input class="form-check-input real-check" type="checkbox" value="{{ branch.pk }}" name="branch">
                <label class="form-check-label" for="defaultCheck1">{{ branch.name }}</label>
            </div>
            {% endfor %}
            <button class="btn btn-primary btn-md" type="submit" id="filter-proxy-button">فیلتر</button>
        </form>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="demo-inline-spacing mt-3">
            <div class="tab-content px-0 pt-2">
                <h6 id="instruction" style="display: none;">❗ برای مشاهده مقایسه شعب باید حداقل یک شعبه را انتخاب کنید.</h6>
                <h6 id="instruction-for-one-to-all-container" style="display: none;">❗ برای مشاهده این قسمت فقط باید یک شعبه انتخاب شود.</h6>
                <div id="ratio-container" style="width: 100%; height: 400px; margin-top: 45px;"></div>
                <div id="second-ratio-container" style="width: 100%; height: 400px; margin-top: 45px;"></div>
                <div id="one-to-all-container" style="width: 100%; height: 400px; margin-top: 45px;"></div>
                <div id="ratio-container-multi-branch" style="width: 100%; height: 400px; margin-top: 45px;"></div>
                <div id="second-ratio-container-multi-branch" style="width: 100%; height: 400px; margin-top: 45px;"></div>
                <div id="second-one-to-all-container" style="width: 100%; height: 400px; margin-top: 45px;"></div>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Campaigns Separated By Branch -->
        <div class="card" id="campaigns">
            <h5 class="card-header heading-color">کمپین ها</h5>
            <div class="table-responsive text-nowrap" style="margin-bottom: 100px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th>نام کمپین</th>
                        <th>تاریخ شروع</th>
                        <th>تاریخ پایان</th>
                        <th>شعبه</th>
                        <th>نوع کمپین</th>
                        <th>هزینه</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Grouped Campaign Card -->
        <div class="card" id="grouped-campaigns" style="margin-top: 40px;">
            <h5 class="card-header heading-color">کمپین ها</h5>
            <div class="table-responsive text-nowrap" style="margin-bottom: 100px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th>نام کمپین</th>
                        <th>تاریخ شروع</th>
                        <th>تاریخ پایان</th>
                        <th>شعبه</th>
                        <th>نوع کمپین</th>
                        <th>هزینه</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0" id="grouped-campaigns-container">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <button class="btn btn-secondary btn-md" id="return" style="margin-top: 25px;">بازگشت</button>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/jalaali-js/dist/jalaali.min.js"></script>
<!-- JQuery and Toastr Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'assets/vendor/libs/toastr/toastr.js' %}"></script>
<script src="{% static 'assets/js/ui-toasts.js' %}"></script>
<!-- HighChart JS -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<!-- FlatPicker JS (Calendar) -->
<script src="{% static 'assets/vendor/libs/jdate/jdate.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
<script src="{% static 'assets/vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/l10n/fa-jdate.js' %}"></script>
<script src="{% static 'assets/js/app-calendar-events.js' %}"></script>
<script src="{% static 'assets/js/app-calendar.js' %}"></script>
<!-- FlatPicker (JS Calendar) Persian Configuration / Form Checks -->
<script src="{% static 'assets/js/persian-flatpicker-and-form-checks.js' %}"></script>
<!-- HighChart Chart Paint (Analytic Aggregation) Raw JavaScript / Campaigns Separated By Branch Paint -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let ratioChart = Highcharts.chart('ratio-container', {
            chart: {
                type: 'line',
                backgroundColor: '#f9f9f9',
                style: {
                    fontFamily: 'tahoma',
                    fontSize: '20px'
                }
            },
            title: {
                text: "درصد تبدیل ورودی به فاکتور",
                style: {
                    fontSize: '25px',
                    color: '#333'
                }
            },
            xAxis: {
                categories: [],
                title: {
                    text: "تاریخ",
                    style: {
                        fontSize: '20px',
                        fontWeight: 'bold'
                    }
                }
            },
            yAxis: {
                title: {
                    text: "درصد نرخ تبدیل (%)",
                    style: {
                        fontSize: '20px',
                        fontWeight: 'bold'
                    }
                },
                max: 100
            },
            plotOptions: {
                series: {
                    point: {
                        events: {
                            click: function () {
                                const apiUrl = "/api/get-campaign-each-point";
                                const date = this.category;
                                const branch = this.series.name;
                                const body = document.querySelector("body");
                                const infoModal = document.querySelector("#info-modal");
                                console.log(date, branch)
                                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                                fetch(apiUrl, {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json",
                                        "X-CSRFToken": csrftoken,
                                    },
                                    body: JSON.stringify({date: date, branch: branch})
                                }).then(response => {
                                    if (!response.ok) throw new Error("Invalid Response");
                                    return response.json()
                                }).then(data => {
                                    console.log(data)
                                    let htmlCampaigns = data.map((camp, index) =>
                                        `<p style='margin-bottom: 0px;' style='margin-bottom: 0px; margin-top: 0px;'>${index + 1}. ${camp.campaign_name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${camp.campaign_type}</p>`
                                    ).join('')
                                    if (data.length === 0) {
                                        htmlCampaigns = `<p>هیچ کمپینی یافت نشد.</p>`
                                    }
                                    Swal.fire({
                                    html: `<h3 style='margin-bottom: 0px;'>${this.y}</h3><p>${this.category}</p>
                                    <p style='margin-bottom: 0px;'>کمپین ها:</p>
                                    ${htmlCampaigns}
                                    `,
                                    confirmButtonText: 'بستن',
                                    confirmButtonColor: '#5a8dee'
                                });
                                })

                            }
                        }
                    }
                }
            },
            series: [
                {
                    name: "درصد نرخ تبدیل (%)",
                    data: []
                },
            ]
        });

        let secondRatioChart = Highcharts.chart('second-ratio-container', {
            chart: {
                type: 'line',
                backgroundColor: '#f9f9f9',
                style: {
                    fontFamily: 'tahoma',
                    fontSize: '20px'
                }
            },
            title: {
                text: "نسبت ورودی به گردش مالی",
                style: {
                    fontSize: '25px',
                    color: '#333'
                }
            },
            xAxis: {
                categories: [],
                title: {
                    text: "تاریخ",
                    style: {
                        fontSize: '20px',
                        fontWeight: 'bold'
                    }
                }
            },
            yAxis: {
                title: {
                    text: "نسبت (تومان)",
                    style: {
                        fontSize: '20px',
                        fontWeight: 'bold'
                    }
                }
            },
            plotOptions: {
                series: {
                    point: {
                        events: {
                            click: function () {
                                const apiUrl = "/api/get-campaign-each-point";
                                const date = this.category;
                                const branch = this.series.name;
                                const body = document.querySelector("body");
                                const infoModal = document.querySelector("#info-modal");
                                console.log(date, branch)
                                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                                fetch(apiUrl, {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json",
                                        "X-CSRFToken": csrftoken,
                                    },
                                    body: JSON.stringify({date: date, branch: branch})
                                }).then(response => {
                                    if (!response.ok) throw new Error("Invalid Response");
                                    return response.json()
                                }).then(data => {
                                    const rawNum = this.y;
                                    const num = rawNum.toLocaleString("fa-IR");
                                    let htmlCampaigns = data.map((camp, index) =>
                                        `<p style='margin-bottom: 0px;' style='margin-bottom: 0px; margin-top: 0px;'>${index + 1}. ${camp.campaign_name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${camp.campaign_type}</p>`
                                    ).join('')
                                    if (data.length === 0) {
                                        htmlCampaigns = `<p>هیچ کمپینی یافت نشد.</p>`
                                    }
                                    Swal.fire({
                                    html: `<h3 style='margin-bottom: 0px;'>${num}</h3><p>${this.category}</p>
                                    <p style='margin-bottom: 0px;'>کمپین ها:</p>
                                    ${htmlCampaigns}
                                    `,
                                    confirmButtonText: 'بستن',
                                    confirmButtonColor: '#5a8dee'
                                });
                                })

                            }
                        }
                    }
                }
            },
            series: [
                {
                    name: "نسبت (تومان)",
                    data: []
                },
            ]
        });
        let oneToAllContainer = Highcharts.chart('one-to-all-container', {
            chart: {
                type: 'line',
                backgroundColor: '#f9f9f9',
                style: {
                    fontFamily: 'tahoma',
                    fontSize: '20px'
                }
            },
            title: {
                text: "نسبت ورودی یک فروشگاه به کل",
                style: {
                    fontSize: '25px',
                    color: '#333'
                }
            },
            xAxis: {
                categories: [],
                title: {
                    text: "تاریخ",
                    style: {
                        fontSize: '20px',
                        fontWeight: 'bold'
                    }
                }
            },
            yAxis: {
                title: {
                    text: "نسبت (%)",
                    style: {
                        fontSize: '20px',
                        fontWeight: 'bold'
                    }
                },
                max: 100
            },
            series: [
                {
                    name: "نسبت (%)",
                    data: []
                },
            ]
        });
        document.getElementById('filter-form').addEventListener('submit', function(event) {
            event.preventDefault(); 
            const form = this;
            const formData = new FormData(form);
            const queryString = new URLSearchParams(formData).toString();
            const loadingOverlay = document.getElementById('loading-overlay');
            loadingOverlay.style.display = 'flex';
            fetch(`{% url 'analysis' url_hash=request.user.profile.merchant.url_hash %}?${queryString}`, {
                method: 'GET',
                headers: { 'X-Requested-With': 'XMLHttpRequest' }
            })
            .then(response => {
                if (!response.ok) throw new Error('Network response was not ok');
                return response.json();
            })
            .then(data => {
                const entryMap = {};
                data.dates_queryset.forEach((date, i) => {
                entryMap[date] = data.entry_totals[i];
                });
                const totalMap = {};
                data.dates_invoices.forEach((date, i) => {
                totalMap[date] = data.total_items[i];
                });
                const amountMap = {};
                data.dates_invoices.forEach((date, i) => {
                amountMap[date] = data.total_amount[i];
                });
                const entryOverallMap = {};
                data.dates_queryset.forEach((date, i) => {
                entryOverallMap[date] = data.entry_overalls[i];
                });
                const commonDates = data.dates_queryset.filter(date => data.dates_invoices.includes(date));
                const result = commonDates.map(date => {
                    const entry = entryMap[date];
                    const item = totalMap[date];
                    const amount = amountMap[date];
                    const entryOverall = entryOverallMap[date];
                    const ratio = entry !== 0 ? +((item / entry)*100).toFixed(2) : 0;
                    const secondRatio = entry !== 0 ? Math.floor(amount / entry / 10) : 0;
                    const thirdRatio = entryOverall !== 0 ? +((entry / entryOverall)*100).toFixed(2) : 0;
                    return {
                        date: date,
                        entry_totals: entry,
                        total_items: item,
                        total_amount: amount,
                        ratio: ratio,
                        second_ratio: secondRatio,
                        entry_overall: entryOverall,
                        third_ratio: thirdRatio
                    };
                });
                const ratioDates = result.map(row => {
                const date = new Date(row.date);
                return date.toLocaleDateString('fa-IR', {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit'
                });
                });
                const ratioValues = result.map(row => row.ratio);
                const secondRatioValues = result.map(row => row.second_ratio)
                const oneToAllValues = result.map(row => row.third_ratio)
                const overallAmounts = result.map(row => row.entry_overall)

                ratioChart.update({
                    xAxis: { categories: ratioDates },
                    series: [{ data: ratioValues }]
                });

                secondRatioChart.update({
                    xAxis: { categories: ratioDates },
                    series: [{ data: secondRatioValues }]
                });

                if (document.querySelectorAll('input[type="checkbox"]:checked').length === 2) {
                    oneToAllContainer.update({
                    xAxis: { categories: ratioDates },
                    series: [{
                    name: 'نسبت یک فروشگاه به کل', 
                    data: oneToAllValues,
                    tooltip: {
                        pointFormatter: function () {
                        const index = this.index;
                        const overall = overallAmounts[index] || 0;
                        return `<p>نسبت:</p> ٪${Math.round(this.y).toLocaleString('fa-IR')}<br><p>کل ورودی:</p> ${overall.toLocaleString('fa-IR')}`;
                        }
                    },
                    }]
                });
                } else {
                    oneToAllContainer.update({
                    xAxis: { categories: [] },
                    series: [{ data: [] }]
                });
                }
                document.querySelector(".table-border-bottom-0").innerHTML = "";
                data.campaigns.forEach(campaign => {
                const rowhtml = `
                    <tr>
                        <td>
                            ${campaign.campaign_name} 
                        </td>
                        <td class="greg-date">
                            ${campaign.campaign_start_date}
                        </td>
                        <td class="greg-date">
                            ${campaign.campaign_end_date}
                        </td>
                        <td>
                            ${campaign.campaign_branch_name}
                        </td>
                        <td>
                            ${campaign.campaign_type}
                        </td>
                        <td class="campaign-cost">
                            ${campaign.campaign_cost}
                        </td>
                    </tr>
                    `
                document.querySelector(".table-border-bottom-0").insertAdjacentHTML("beforeend", rowhtml);
                });
                loadingOverlay.style.display = 'none';
                function jalaliDateConvertor() {
                document.querySelectorAll(".greg-date").forEach(el => {
                    const gregorian = el.innerHTML.split("-");
                    const gYear = parseInt(gregorian[0]);
                    const gMonth = parseInt(gregorian[1]);
                    const gDay = parseInt(gregorian[2]);
                    const jdate = jalaali.toJalaali(gYear, gMonth, gDay);
                    el.innerText = `${jdate.jy}/${String(jdate.jm).padStart(2, '0')}/${String(jdate.jd).padStart(2, '0')}`;
                    });
                }
                document.querySelectorAll(".campaign-cost").forEach(el => {
                    const cost = Number(el.innerText);
                    const separatedCost = cost.toLocaleString('fa-IR');
                    el.innerText = separatedCost;
                })
                setTimeout(jalaliDateConvertor, 500)
            })
            .catch(error => {
                console.error('Error:', error);
                loadingOverlay.style.display = 'none';
                alert('خطا در بارگذاری داده‌ها. لطفاً دوباره تلاش کنید.');
            });
        });
    });
    document.getElementById("select-all").addEventListener("change", () => {
        const isChecked = document.getElementById("select-all").checked;
        document.querySelectorAll(".fake-check").forEach((item) => {
            item.checked = isChecked
        })
    })
</script>
<!-- HighChart Chart Paint (Analytic Separation) JQuery / Grouped Campaigns Paint -->
<script>
    function formatData(invoice_dates, people_counting_dates, invoice_data, people_counting_data) {
        const commonDates = people_counting_dates.filter(date => invoice_dates.includes(date));
        const invoice_data_indicies = commonDates.map(date => invoice_dates.indexOf(date))
        const people_counting_indicies = commonDates.map(date => people_counting_dates.indexOf(date))
        const dataMulti = {}
        for (const branchId in invoice_data) {
            const invoiceBranch = invoice_data[branchId]
            const peopleCountingBranch = people_counting_data[branchId]

            const total_amounts = invoice_data_indicies.map(i => invoiceBranch.total_amounts[i])
            const total_items = invoice_data_indicies.map(i => invoiceBranch.total_items[i])
            const entry_totals = people_counting_indicies.map(i => peopleCountingBranch.entry_totals[i])
            const entry_overalls = people_counting_indicies.map(i => peopleCountingBranch.entry_overalls[i])
            const ratio = total_items.map((item, i) => {
                const entry = entry_totals[i];
                return entry ? +(item / entry * 100).toFixed(2) : 0;
            });
            const second_ratio = total_amounts.map((amount, i) => {
                const entry = entry_totals[i];
                return entry ? +Math.floor(amount / entry / 10) : 0;
            })
            const third_ratio = entry_totals.map((entry, i) => {
                const overall = entry_overalls[i]
                return overall ? +Math.floor(((entry / overall)*100)) : 0;
            })
            dataMulti[branchId] = {
                name: invoiceBranch.name,
                total_amounts,
                total_items,
                entry_totals,
                ratio,
                second_ratio,
                third_ratio
            }
        }
        return {"dates": commonDates, "data": dataMulti}
    }
    
    $("#filter-form").on("submit", function (e) {
        const startDate = $("#start-date").val();
        const endDate = $("#end-date").val();
        const selectedBranches = $(".real-check:checked").map(function () {
            return $(this).val();
        }).get();
        if (!startDate) {
            toastr.options = {
                    positionClass: 'toast-top-center',
                }
            toastr.error("بازه زمانی را انتخاب نمایید");
        }
        if (selectedBranches.length === 0 && startDate) {
            toastr.options = {
                positionClass: 'toast-top-center',
            }
            toastr.warning("هیچ شعبه ای انتخاب نشد");
            toastr.warning("همه شعب به صورت پیش فرض در نمودار های تجمیعی نمایش داده میشوند");
        }
        if (selectedBranches.length === 0 && !startDate) {
            toastr.options = {
                positionClass: 'toast-top-center',
            }
            toastr.warning("هیچ شعبه ای انتخاب نشد");
        }
        $.ajax({
            url: "/api/analysis",
            data: {
                "start-date": startDate,
                "end-date": endDate,
                "branch": selectedBranches
            },
            traditional: true, 
            success: function (data) {
                final_data = formatData(data.invoice_dates, data.people_counting_dates, data.invoice_data, data.people_counting_data)
                const rawCategories = final_data.dates;
                const categories = rawCategories.map(dateStr => {
                const date = new Date(dateStr);
                return date.toLocaleDateString('fa-IR', {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit'
                });
                });
                const series = Object.entries(final_data.data).map(([id, data]) => ({
                    name: data.name,
                    data: data.ratio
                }));

                Highcharts.chart("ratio-container-multi-branch", {
                    chart: { type: "line",
                        backgroundColor: '#f9f9f9',
                        style: {
                            fontFamily: 'tahoma',
                            fontSize: '20px'
                        }
                        },
                    title: { text: "مقایسه درصد تبدیل ورودی به فاکتور",
                        style: {
                            fontSize: '25px',
                            color: '#333'
                        } 
                    },
                    xAxis: { categories,
                        title: {
                        text: "تاریخ",
                        style: {
                        fontSize: '20px',
                        fontWeight: 'bold'
                        }
                    }
                        },
                    yAxis: { title: { text: "درصد تبدیل (%)",
                        style: {
                            fontSize: '20px',
                            fontWeight: 'bold'
                            } 
                        },
                        max: 100 
                    },
                    series: series,
                    plotOptions: {
                    series: {
                        point: {
                            events: {
                                click: function () {
                                    const apiUrl = "/api/get-campaign-each-point";
                                    const date = this.category;
                                    const branch = this.series.name;
                                    const body = document.querySelector("body");
                                    const infoModal = document.querySelector("#info-modal");
                                    console.log(date, branch)
                                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                                    fetch(apiUrl, {
                                        method: "POST",
                                        headers: {
                                            "Content-Type": "application/json",
                                            "X-CSRFToken": csrftoken,
                                        },
                                        body: JSON.stringify({date: date, branch: branch})
                                    }).then(response => {
                                        if (!response.ok) throw new Error("Invalid Response");
                                        return response.json()
                                    }).then(data => {
                                        console.log(data)
                                        let htmlCampaigns = data.map((camp, index) =>
                                            `<p style='margin-bottom: 0px;' style='margin-bottom: 0px; margin-top: 0px;'>${index + 1}. ${camp.campaign_name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${camp.campaign_type}</p>`
                                        ).join('')
                                        if (data.length === 0) {
                                            htmlCampaigns = `<p>هیچ کمپینی یافت نشد.</p>`
                                        }
                                        Swal.fire({
                                        html: `<h3 style='margin-bottom: 0px;'>${this.y}</h3><p style='margin-bottom: 0px; margin-top: 0px;'>${this.series.name}</p><p style='margin-top: 0px;'>${this.category}</p>
                                        <p style='margin-bottom: 0px;'>کمپین ها:</p>
                                        ${htmlCampaigns}
                                        `,
                                        confirmButtonText: 'بستن',
                                        confirmButtonColor: '#5a8dee'
                                    });
                                    })

                                }
                            }
                        }
                    }
                }
                });
            },
            error: function (xhr) {
                console.error("Error loading data");
            }
        });
        $.ajax({
            url: "/api/analysis",
            data: {
                "start-date": startDate,
                "end-date": endDate,
                "branch": selectedBranches
            },
            traditional: true, 
            success: function (data) {
                final_data = formatData(data.invoice_dates, data.people_counting_dates, data.invoice_data, data.people_counting_data)
                const rawCategories = final_data.dates;
                const categories = rawCategories.map(dateStr => {
                const date = new Date(dateStr);
                return date.toLocaleDateString('fa-IR', {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit'
                });
                });
                const series = Object.entries(final_data.data).map(([id, data]) => ({
                    name: data.name,
                    data: data.second_ratio
                }));

                Highcharts.chart("second-ratio-container-multi-branch", {
                    chart: { type: "line",
                        backgroundColor: '#f9f9f9',
                        style: {
                            fontFamily: 'tahoma',
                            fontSize: '20px'
                        }
                        },
                    title: { text: "مقایسه نسبت ورودی به گردش مالی",
                        style: {
                            fontSize: '25px',
                            color: '#333'
                        } 
                    },
                    xAxis: { categories,
                        title: {
                        text: "تاریخ",
                        style: {
                        fontSize: '20px',
                        fontWeight: 'bold'
                        }
                    }
                        },
                    yAxis: { title: { text: "نسبت (تومان)",
                        style: {
                            fontSize: '20px',
                            fontWeight: 'bold'
                            } 
                        }
                    },
                    series: series,
                    plotOptions: {
                    series: {
                        point: {
                            events: {
                                click: function () {
                                    const apiUrl = "/api/get-campaign-each-point";
                                    const date = this.category;
                                    const branch = this.series.name;
                                    const body = document.querySelector("body");
                                    const infoModal = document.querySelector("#info-modal");
                                    console.log(date, branch)
                                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                                    fetch(apiUrl, {
                                        method: "POST",
                                        headers: {
                                            "Content-Type": "application/json",
                                            "X-CSRFToken": csrftoken,
                                        },
                                        body: JSON.stringify({date: date, branch: branch})
                                    }).then(response => {
                                        if (!response.ok) throw new Error("Invalid Response");
                                        return response.json()
                                    }).then(data => {
                                        const rawNum = this.y;
                                        const num = rawNum.toLocaleString("fa-IR")
                                        let htmlCampaigns = data.map((camp, index) =>
                                            `<p style='margin-bottom: 0px;' style='margin-bottom: 0px; margin-top: 0px;'>${index + 1}. ${camp.campaign_name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${camp.campaign_type}</p>`
                                        ).join('')
                                        if (data.length === 0) {
                                            htmlCampaigns = `<p>هیچ کمپینی یافت نشد.</p>`
                                        }
                                        Swal.fire({
                                        html: `<h3 style='margin-bottom: 0px;'>${num}</h3><p style='margin-bottom: 0px; margin-top: 0px;'>${this.series.name}</p><p style='margin-top: 0px;'>${this.category}</p>
                                        <p style='margin-bottom: 0px;'>کمپین ها:</p>
                                        ${htmlCampaigns}
                                        `,
                                        confirmButtonText: 'بستن',
                                        confirmButtonColor: '#5a8dee'
                                    });
                                    })

                                }
                            }
                        }
                    }
                }
                });
            },
            error: function (xhr) {
                console.error("Error loading data");
            }
        });
        $.ajax({
            url: "/api/analysis",
            data: {
                "start-date": startDate,
                "end-date": endDate,
                "branch": selectedBranches
            },
            traditional: true, 
            success: function (data) {
                final_data = formatData(data.invoice_dates, data.people_counting_dates, data.invoice_data, data.people_counting_data)
                const rawCategories = final_data.dates;
                const categories = rawCategories.map(dateStr => {
                const date = new Date(dateStr);
                return date.toLocaleDateString('fa-IR', {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit'
                });
                });
                const series = Object.entries(final_data.data).map(([id, data]) => ({
                    name: data.name,
                    data: data.third_ratio
                }));

                Highcharts.chart("second-one-to-all-container", {
                chart: {
                    type: "column",
                    backgroundColor: '#f9f9f9',
                    style: {
                        fontFamily: 'tahoma',
                        fontSize: '20px'
                    }
                },
                title: {
                    text: "مقایسه نسبت ورودی فروشگاه ها به کل",
                    style: {
                        fontSize: '25px',
                        color: '#333'
                    } 
                },
                xAxis: {
                    categories: categories,
                    title: {
                        text: "تاریخ",
                        style: {
                            fontSize: '20px',
                            fontWeight: 'bold'
                        }
                    }
                },
                yAxis: {
                    title: {
                        text: "نسبت (%)",
                        style: {
                            fontSize: '20px',
                            fontWeight: 'bold'
                        } 
                    },
                    max: 100
                },
                plotOptions: {
                    column: {
                        stacking: 'normal', 
                        dataLabels: {
                            enabled: true,
                            format: '{y:.1f}%',
                            style: {
                                fontSize: '12px',
                                fontFamily: 'tahoma'
                            }
                        },
                        point: {
                            events: {
                                click: function () {
                                    const apiUrl = "/api/get-campaign-each-point";
                                    const date = this.category;
                                    const branch = this.series.name;
                                    const body = document.querySelector("body");
                                    const infoModal = document.querySelector("#info-modal");
                                    console.log(date, branch)
                                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                                    fetch(apiUrl, {
                                        method: "POST",
                                        headers: {
                                            "Content-Type": "application/json",
                                            "X-CSRFToken": csrftoken,
                                        },
                                        body: JSON.stringify({date: date, branch: branch})
                                    }).then(response => {
                                        if (!response.ok) throw new Error("Invalid Response");
                                        return response.json()
                                    }).then(data => {
                                        console.log(data)
                                        let htmlCampaigns = data.map((camp, index) =>
                                            `<p style='margin-bottom: 0px;' style='margin-bottom: 0px; margin-top: 0px;'>${index + 1}. ${camp.campaign_name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${camp.campaign_type}</p>`
                                        ).join('')
                                        if (data.length === 0) {
                                            htmlCampaigns = `<p>هیچ کمپینی یافت نشد.</p>`
                                        }
                                        Swal.fire({
                                        html: `<h3 style='margin-bottom: 0px;'>${this.y} %</h3><p style='margin-bottom: 0px; margin-top: 0px;'>${this.series.name}</p><p style='margin-top: 0px;'>${this.category}</p>
                                        <p style='margin-bottom: 0px;'>کمپین ها:</p>
                                        ${htmlCampaigns}
                                        `,
                                        confirmButtonText: 'بستن',
                                        confirmButtonColor: '#5a8dee'
                                    });
                                    })

                                }
                            }
                        }
                    }
                },
                tooltip: {
                    shared: true,
                    pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: <b>%{point.y:.0f}</b><br/>'
                },
                series: series,
            });
            },
            error: function (xhr) {
                console.error("Error loading data");
            }
        });
        $.ajax({
            url: "/api/grouped-campaigns",
            data: {
                "start-date": startDate,
                "end-date": endDate,
            },
            traditional: true, 
            success: function (data) {
                document.querySelector("#grouped-campaigns-container").innerHTML = "";
                data.forEach(campaign => {
                const rowhtml = `
                    <tr>
                        <td>
                            ${campaign.campaign_name} 
                        </td>
                        <td class="greg-date">
                            ${campaign.campaign_start_date}
                        </td>
                        <td class="greg-date">
                            ${campaign.campaign_end_date}
                        </td>
                        <td>
                            ${campaign.branches}
                        </td>
                        <td>
                            ${campaign.campaign_type}
                        </td>
                        <td class="campaign-cost">
                            ${campaign.campaign_cost}
                        </td>
                    </tr>
                    `
                document.querySelector("#grouped-campaigns-container").insertAdjacentHTML("beforeend", rowhtml);
                });
            },
            error: function (xhr) {
                console.error("Error loading data");
            }
        });
    });
</script>
<!-- Gregorian Jalali Conversion Raw JavaScript -->
<script src="{% static 'assets/js/campaign-gregorian-to-jalali-date-convert.js' %}"></script>
<!-- Sweet Alert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Display Toggles -->
<script src="{% static 'assets/js/analysis-campaign-list-display-toggle.js' %}"></script>
<!-- Button Collapse -->
<script src="{% static 'assets/js/accordion-collapse-toggle.js' %}"></script>
{% endblock %}


