{% load static %}
<!DOCTYPE html>
<html lang="fa" class="light-style layout-navbar-fixed layout-menu-fixed" dir="rtl" data-theme="theme-default" data-assets-path="../../assets/" data-template="vertical-menu-template-no-customizer-starter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>{% block title %}داشبرد{% endblock %}</title>

    <meta name="description" content="{% block meta_description %} داشبرد شمارشگر {% endblock %}">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.png' %}">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}">

    <!-- <link rel="stylesheet" href="../../assets/vendor/fonts/fontawesome.css" /> -->
    <!-- <link rel="stylesheet" href="../../assets/vendor/fonts/flag-icons.css" /> -->

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/core.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/theme-default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/rtl.css' %}">

    <style>
        .light-style .flatpickr-calendar {
        box-shadow: none !important;
        }
    </style>
    <style>
        /* Loading overlay */
        .loading-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1000;
            justify-content: center;
            align-items: center;
        }
        .loader {
            border: 8px solid #f3f3f3;
            border-top: 8px solid #3498db;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .highcharts-credits {
          display: none;
        }
    </style>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/typeahead-js/typeahead.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/fullcalendar/fullcalendar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/flatpickr/flatpickr.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/select2/select2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/quill/editor-fa.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/formvalidation/dist/css/formValidation.min.css' %}">
    <style>
      body {
        font-family: Vazirmatn, sans-serif;
        padding: 20px;
        background: #f9f9f9;
      }
      .calendar-container {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
      }
      .calendar-box {
        border: 1px solid #ccc;
        padding: 15px;
        background: white;
        border-radius: 10px;
      }
    </style>
    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/app-calendar.css' %}">
    <!-- Helpers -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'assets/js/config.js' %}"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="" class="app-brand-link">
              <span class="app-brand-text demo menu-text fw-bold ms-2">SPOTLINE</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
              <i class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"></i>
              <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-divider mt-0"></div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Page -->
            <li class="menu-item">
              <a href="{% url 'people_counter' url_hash=request.user.profile.merchant.url_hash %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-chart"></i>
                <div data-i18n="Page 1">شمارنده مشتریان</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'calendar' url_hash=request.user.profile.merchant.url_hash %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-calendar"></i>
                <div data-i18n="Page 2">تقویم رویدادها</div>
              </a>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-user"></i>
                  <div data-i18n="Invoice">کاربران</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="{% url 'users' url_hash=request.user.profile.merchant.url_hash %}" class="menu-link">
                      <div data-i18n="List">لیست کاربران</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="{% url 'generate_user' url_hash=request.user.profile.merchant.url_hash %}" class="menu-link">
                      <div data-i18n="Preview">ساخت کاربر</div>
                    </a>
                  </li>
                </ul>
              </li>
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
            <div class="container-fluid">

              <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                  <i class="bx bx-menu bx-sm"></i>
                </a>
              </div>
              
              <div class="navbar-nav align-items-center">
                <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
                  <i class="bx bx-sm"></i>
                </a>
              </div>

              <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                <ul class="navbar-nav flex-row align-items-center ms-auto">
                  <!-- User -->
                  <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                      <div class="avatar avatar-online">
                        <img src="{% static 'assets/img/avatars/1.png' %}" alt class="rounded-circle">
                      </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item" href="#">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar avatar-online">
                                <img src="{% static 'assets/img/avatars/1.png' %}" alt class="rounded-circle">
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <span class="fw-semibold d-block">جان اسنو</span>
                              <small>مدیر</small>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <i class="bx bx-user me-2"></i>
                          <span class="align-middle">پروفایل من</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <i class="bx bx-cog me-2"></i>
                          <span class="align-middle">تنظیمات</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <span class="d-flex align-items-center align-middle">
                            <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                            <span class="flex-grow-1 align-middle">صورتحساب</span>
                            <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                          </span>
                        </a>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <i class="bx bx-power-off me-2"></i>
                          <span class="align-middle">خروج</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <!--/ User -->
                </ul>
              </div>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              {% block content %}
              {% endblock %}
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-fluid d-flex flex-wrap justify-content-between py-3 flex-md-row flex-column">
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->
    <!-- HighChart JS -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static 'assets/vendor/libs/hammer/hammer.js' %}"></script>

    <script src="{% static 'assets/vendor/libs/i18n/i18n.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/typeahead-js/typeahead.js' %}"></script>

    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'assets/vendor/libs/fullcalendar/fullcalendar.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/select2/select2.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/select2/i18n/fa.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/jdate/jdate.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/flatpickr/l10n/fa-jdate.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/sortablejs/sortable.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <!-- Page JS -->
    <script src="{% static 'assets/js/app-calendar-events.js' %}"></script>
    <script src="{% static 'assets/js/app-calendar.js' %}"></script>
    <script src="{% static 'assets/js/extended-ui-drag-and-drop.js' %}"></script>
    <script>
        // Observe the DOM for new menu items
        const observer = new MutationObserver(() => {
            const buttons = document.querySelectorAll(".highcharts-menu-item");
            const listContainer = document.querySelector(".highcharts-menu");
            if (buttons.length >= 5) {
                buttons[2].style.display = 'none';
                buttons[3].style.display = 'none';
                buttons[4].style.display = 'none';
                buttons[0].textContent = 'نمایش تمام صفحه';
                buttons[1].textContent = 'PDF خروجی';
                buttons[5].textContent = 'CSV خروجی';
                buttons[6].textContent = 'XLS خروجی';
                buttons[7].textContent = 'نمایش جدول';
                observer.disconnect();
            }
        });
    
      
        observer.observe(document.body, {
            childList: true,
            subtree: true
        });   
    </script>
    <script>
        flatpickr("#date-range", {
          inline: true,
          locale: "fa",
          mode: "range",
          dateFormat: "Y-m-d",
          onChange: function(selectedDates, dateStr, instance) {
            selectedRange = selectedDates;
          }
        });
        const filterProxyButton = document.getElementById("filter-proxy-button");
        const realFilterForm = document.getElementById("filter-form");
        filterProxyButton.addEventListener("click", () => {
          function formatJalaliDate(jdateObj) {
            if (!jdateObj || !jdateObj._cached_date) return "";
            const [year, month, day] = jdateObj._cached_date;
            return `${year}-${String(month).padStart(2, "0")}-${String(day).padStart(2, "0")}`;
          }

          const fakeChecks = document.querySelectorAll(".fake-check");
          const realChecks = document.querySelectorAll(".real-check");
          let startDate = selectedRange[0]
          let endDate = selectedRange[1]
          let startJalaiDate = formatJalaliDate(startDate);
          let endJalaliDate = formatJalaliDate(endDate);
          const realJalaliStartDate = document.getElementById("start-date");
          const realJalaliEndDate = document.getElementById("end-date");
          realJalaliStartDate.value = startJalaiDate;
          realJalaliEndDate.value = endJalaliDate;
          fakeChecks.forEach((item) => {
            if (item.checked == true) {
              realChecks.forEach((sitem) => {
                if (item.value == sitem.value) {
                  sitem.checked = true;
                }
              }); 
            } else {
              realChecks.forEach((sitem) => {
                if (item.value == sitem.value) {
                  sitem.checked = false;
                }
              }); 
            }
          });
          // realFilterForm.submit();
        })
    </script>
    <script>
      const addBtn = document.getElementById("submit-permission-changes");
      addBtn.addEventListener("click", () => {
        // Add permission
        const hasNoPermissions = []
        const viewStats = document.getElementById("permission-to-view-stats");
        const changeStats = document.getElementById("permission-to-change-stats");
        const addStats = document.getElementById("permission-to-add-stats");
        const deleteStats = document.getElementById("permission-to-delete-stats");
        const viewUser = document.getElementById("permission-to-view-user");
        const changeUser = document.getElementById("permission-to-change-user");
        const addUser = document.getElementById("permission-to-add-user");
        const deleteUser = document.getElementById("permission-to-delete-user");
        const form = document.getElementById("form");
        document.querySelectorAll("#pending-tasks .list-group-item").forEach((item) => {
        hasNoPermissions.push(item.getAttribute("aria-label"));
        });
        if (hasNoPermissions.includes("view_stats")) {
          viewStats.value = "view_stats";
        }
        if (hasNoPermissions.includes("change_stats")) {
          changeStats.value = "change_stats";
        }
        if (hasNoPermissions.includes("add_stats")) {
          addStats.value = "add_stats";
        }
        if (hasNoPermissions.includes("delete_stats")) {
          deleteStats.value = "delete_stats";
        }
        if (hasNoPermissions.includes("view_user")) {
          viewUser.value = "view_user"
        }
        if (hasNoPermissions.includes("change_user")) {
          changeUser.value = "change_user"
        }
        if (hasNoPermissions.includes("add_user")) {
          addUser.value = "add_user"
        }
        if (hasNoPermissions.includes("delete_user")) {
          deleteUser.value = "delete_user"
        }
        form.submit()
      }
      );
      
      
      const hasPermissions = []
      document.querySelectorAll("#completed-tasks .list-group-item").forEach((item) => {
        hasPermissions.push(item.getAttribute("aria-label"));
      });

    </script>
    <!-- Page JS -->
  </body>
</html>