{% extends 'base.html' %}
{% load static %}
{% block title %}
    مقایسه و تحلیل کمپین ها
{% endblock %}
{% block meta_description %}
    مقایسه و تحلیل کمپین ها
{% endblock %}
{% block extra_css %}
<!-- Style for Calendar, FlatPicker and Toastr -->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/fullcalendar/fullcalendar.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/libs/flatpickr/flatpickr.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/css/pages/app-calendar.css' %}">
<!-- Shepherd -->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/shepherd/shepherd.css' %}">
<!-- Stepper -->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/bs-stepper/bs-stepper.css' %}">
<!-- Search as type style -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'assets/vendor/libs/bootstrap-select/bootstrap-select.css' %}">
<!-- Custom Style for FlatPicker Calendar -->
<style>
    .light-style .flatpickr-calendar {
    box-shadow: none !important;
    }
</style>
<!-- Custom Style for the Loading Overlay and the Blink -->
<style>
    .loading-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }
    .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .highcharts-credits {
        display: none;
    }

    @keyframes blink-border {
        0%   { border-color: #5a8dee; }
        50%  { border-color: transparent; }
        100% { border-color: #5a8dee; }
    }

    .blink-border {
        border: 5px solid #5a8dee;  
        animation: blink-border 0.5s linear infinite;
    }

    #search {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #add-input-field-single {
        width: 100%;
    }

    #add-input-field-grouped {
        width: 100%;
    }

    #input-container input {
        margin: 30px;
    }

    #result-container {
        background-clip: padding-box;
        border-style: solid;
        box-shadow: none;
        border-width: 1px;
        border-color: #e5e5e5;
        border-radius: 12px;
        padding: 10px;
    }

    @keyframes pulseColor {
    0%, 100% {
        color: #5a8dee;
    }
    50% {
        color: #d3dcf7;
    }
    }

    .blink-icon {
        animation: pulseColor 1.5s infinite;
    }


</style>
{% endblock %}
{% block content %}
<div class="loading-overlay" id="loading-overlay">
    <div class="loader"></div>
</div>
<div class="d-flex align-items-center py-3 mb-4">
    <i class='bx bx-bullseye bx-lg text-primary me-3'></i>
    <div>
        <h4 class="mb-1">مقایسه کمپین ها</h4>
        <p class="text-muted mb-0">در این قسمت می توانید ابتدا کمپین های مورد نظر را جست و جو و بعد مقایسه کنید</p>
    </div>
</div>
<div class="container">
    <div class="row" id="search-filters" style="margin-bottom: 20px;">
        <!-- Default Wizard -->
        <div class="col-12 mb-4">
            <div class="bs-stepper wizard-numbered mt-2">
            <div class="bs-stepper-header">
                <div class="step" data-target="#account-details">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">
                    <span class="bs-stepper-title">نمایش</span>
                    <span class="bs-stepper-subtitle"> تجمیعی یا تفکیکی</span>
                    </span>
                </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#personal-info">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">
                    <span class="bs-stepper-title">انتخاب</span>
                    <span class="bs-stepper-subtitle">انتخاب کمپین ها</span>
                    </span>
                </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <!-- accumulated or separated -->
                <div id="account-details" class="content">
                    <div class="content-header mb-3">
                    <h6 class="mb-1">نمایش</h6>
                    <small>در صورت انتخاب تجمیعی می توانید کمپین ها را به صورت کلی مقابسه کنید و اگر تفکیکی را انتخاب کنید کمپین ها را می توانید به تفکیک شعب انتخاب و مقایسه نمایید.</small>
                    </div>
                    <div class="row g-3">
                    <div class="col-sm-4" style="margin-bottom: 50px; margin-top: 50px;">
                        <label for="select2Icons" class="form-label">نمایش کمپین ها</label>
                        <select id="select2Icons" class="select2-icons form-select">
                            <option>------</option>
                            <option value="aggregate" data-icon="bx bx-layer">تجمیعی</option>
                            <option value="separated" data-icon="bx bx-collection">تفکیکی</option>
                        </select>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <button class="btn btn-label-secondary btn-prev" disabled>
                        <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                        <span class="d-sm-inline-block d-none">قبلی</span>
                        </button>
                        <button class="btn btn-primary btn-next" id="btn-next">
                        <span class="d-sm-inline-block d-none">بعدی</span>
                        <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                        </button>
                    </div>
                    </div>
                </div>
                <!-- Personal Info -->
                <div id="personal-info" class="content">
                    <div class="content-header mb-3">
                    <h6 class="mb-1">انتخاب کمپین</h6>
                    <small>در این قسمت می توانید کمپین ها را برای مقایسه انتخاب کنید.</small>
                    </div>
                    <div class="row g-3">
                    <!-- Name Search -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" id="search-by-name" style="margin-bottom: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
                        <div id="search">
                            <div id="input-container">
                                <div style="width: 100%;">
                                    <p style="width: 100%; height: 0px; color: #f9f9f9;">در این قسمت میتوانید نام کمپین مورد نظر خود را وارد کنید</p>
                                </div>
                            </div>
                            <button id="add-input-field-single" style="display: none;" class="btn btn-success"><i class='bx bx-plus-circle' style="margin-left: 10px;"></i> افزودن کمپین</button>
                            <button id="add-input-field-grouped" style="display: none;" class="btn btn-success"><i class='bx bx-plus-circle' style="margin-left: 10px;"></i> افزودن کمپین</button>
                        </div>
                    </div>
                    <!-- Filter Button -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="margin-top: 20px; display: flex; align-items: center; flex-direction: column;">
                        <button class="btn btn-primary btn-md" type="submit" id="compare-separate-campaign"><i class='bx bx-transfer-alt' style="margin-left: 10px;"></i>مقایسه</button>
                        <button class="btn btn-primary btn-md" type="submit" id="compare-grouped-campaign"><i class='bx bx-transfer-alt' style="margin-left: 10px;"></i>مقایسه</button>
                    </div>
                    <!-- Ignore the select -->
                    <select style="display: none;" class="selectpicker w-auto" id="language" data-style="btn-transparent" data-icon-base="bx" data-tick-icon="bx-check text-white" multiple>
                    </select>
                    <!--/ Ignore the select -->
                    <div class="col-12 d-flex justify-content-between">
                        <button class="btn btn-primary btn-prev" id="btn-previous">
                        <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                        <span class="d-sm-inline-block d-none">قبلی</span>
                        </button>
                        <button class="btn btn-success btn-submit">ثبت</button>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- /Default Wizard -->
        <!-- Name Search -->
    </div>
</div>
<div id="result-container" class="card" style="padding-bottom: 50px; padding-left: 15px; padding-right: 15px; display: none; padding-top: 50px;">
    <div class="table-responsive text-nowrap">
        <table class="table table-hover" id="result" style="display: none; margin-top: 100px;">
            <thead>
                <tr>
                <th>نام کمپین</th>
                <th>شعبه</th>
                <th>هزینه (تومان)</th>
                <th>نوع</th>
                <th>میانگین ترافیک</th>
                <th>میانگین فروش (تومان)</th>
                <th>میانگین تعداد فاکتور</th>
                <th>میانگین نرخ تبدیل (درصد)</th>
                <th>میانگین ارزش ورود (تومان)</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/jalaali-js@1.2.8/dist/jalaali.min.js"></script>
<!-- Gregorian Jalali Conversion Raw JavaScript -->
<script src="{% static 'assets/js/campaign-gregorian-to-jalali-date-convert.js' %}"></script>
<script src="{% static 'assets/js/price-separator.js' %}"></script>
<!-- Add Text Input / Search Form -->
<script>
    function createSingleCampaignSearch() {
        const newSelect = document.createElement("select");
        newSelect.name = "name";
        newSelect.style.width = "90%";
        newSelect.classList.add("form-control");
        newSelect.classList.add("campaign-select-single");
        const inputContainer = document.getElementById("input-container");
        const selectWrapper = document.createElement("div");
        selectWrapper.classList.add("select-wrapper");
        selectWrapper.style.marginTop = "30px";
        selectWrapper.style.marginBottom = "30px";
        selectWrapper.style.width = "100%";
        selectWrapper.style.display = "flex";
        const deleteBtn = document.createElement("button");
        deleteBtn.classList.add("btn");
        deleteBtn.classList.add("btn-danger");
        deleteBtn.style.width = "10%";
        deleteBtn.style.marginRight = "10px";
        const i = document.createElement("i");
        i.classList.add("bx");
        i.classList.add("bx-trash");
        deleteBtn.appendChild(i) 
        selectWrapper.appendChild(newSelect);
        selectWrapper.appendChild(deleteBtn);
        inputContainer.appendChild(selectWrapper);
        $(newSelect).select2({
            placeholder: 'نام کمپین مورد نظر را وارد کنید...',
            ajax: {
                url: '/dashboard/search/single-campaign-search-as-type/',
                dataType: 'json',
                delay: 250,
                data: params => ({ q: params.term }),
                processResults: (data) => ({
                    results: data
                }),
                cache: true
            },
            minimumInputLength: 1,
            width: '100%',
            language: {
                inputTooShort: function (args) {
                    const remaining = args.minimum - args.input.length;
                    return `حداقل ${remaining} کاراکتر دیگر وارد کنید`; 
                }
            }
        });
        $(newSelect).on('select2:select', function (e) {
            selectData = e.params.data;
            const newInput = document.createElement("input");
            newInput.name = "name";
            newInput.classList.add("form-control");
            newInput.classList.add("campaign-form-single");
            newInput.value = selectData.text;
            console.log(newInput.value);
            newInput.style.display = "none";
            const form = document.getElementById("campaign-form");
            form.appendChild(newInput);
        });
    }
    function createGroupedCampaignSearch() {
        const newSelect = document.createElement("select");
        newSelect.name = "name";
        newSelect.style.width = "90%";
        newSelect.classList.add("form-control");
        newSelect.classList.add("campaign-select-grouped");
        const inputContainer = document.getElementById("input-container");
        const selectWrapper = document.createElement("div");
        selectWrapper.classList.add("select-wrapper");
        selectWrapper.style.marginTop = "30px";
        selectWrapper.style.marginBottom = "30px";
        selectWrapper.style.width = "100%";
        selectWrapper.style.display = "flex";
        const deleteBtn = document.createElement("button");
        deleteBtn.classList.add("btn");
        deleteBtn.classList.add("btn-danger");
        deleteBtn.style.width = "10%";
        deleteBtn.style.marginRight = "10px";
        const i = document.createElement("i");
        i.classList.add("bx");
        i.classList.add("bx-trash");
        deleteBtn.appendChild(i) 
        selectWrapper.appendChild(newSelect);
        selectWrapper.appendChild(deleteBtn);
        inputContainer.appendChild(selectWrapper);
        $(newSelect).select2({
            placeholder: 'نام کمپین مورد نظر را وارد کنید...',
            ajax: {
                url: '/dashboard/search/grouped-campaign-search-as-type/',
                dataType: 'json',
                delay: 250,
                data: params => ({ q: params.term }),
                processResults: (data) => ({
                    results: data
                }),
                cache: true
            },
            minimumInputLength: 1,
            width: '100%',
            language: {
                inputTooShort: function (args) {
                    const remaining = args.minimum - args.input.length;
                    return `حداقل ${remaining} کاراکتر دیگر وارد کنید`; 
                }
            }
        });
        $(newSelect).on('select2:select', function (e) {
            selectData = e.params.data;
            const newInput = document.createElement("input");
            newInput.name = "name";
            newInput.classList.add("form-control");
            newInput.classList.add("campaign-select-grouped");
            newInput.value = selectData.text;
            console.log(newInput.value);
            newInput.style.display = "none";
            const form = document.getElementById("grouped-campaign-form");
            form.appendChild(newInput);
        });
    }
    function deleteAllSearchFields() {
        if (document.querySelector(".select-wrapper")) {
         const searchFileds = document.querySelectorAll(".select-wrapper");
         searchFileds.forEach(item => {
            item.remove();
         });
        }
    }
    function deleteAllForms() {
        if (document.querySelector("form")) {
            const forms = document.querySelectorAll("form");
            forms.forEach(form => {
                form.remove();
            });
        }
    }
    // Button Event Listener For Search Field Creation
    document.getElementById("add-input-field-single").addEventListener("click", createSingleCampaignSearch);
    document.getElementById("add-input-field-grouped").addEventListener("click", createGroupedCampaignSearch);
</script>
<script src="https://cdn.jsdelivr.net/npm/jalaali-js/dist/jalaali.min.js"></script>
<!-- JQuery Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- FlatPicker JS (Calendar) -->
<script src="{% static 'assets/vendor/libs/jdate/jdate.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
<script src="{% static 'assets/vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/l10n/fa-jdate.js' %}"></script>
<script src="{% static 'assets/js/app-calendar-events.js' %}"></script>
<script src="{% static 'assets/js/app-calendar.js' %}"></script>
<!-- FlatPicker (JS Calendar) Persian Configuration / Form Checks -->
<script src="{% static 'assets/js/persian-flatpicker-and-form-checks.js' %}"></script>
<!-- Sweet Alert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Button Color and Background -->
<script src="{% static 'assets/vendor/libs/shepherd/shepherd.js' %}"></script>
<!-- Search as type functionality -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- Stepper -->
<script src="{% static 'assets/vendor/libs/bs-stepper/bs-stepper.js' %}"></script>
<!-- Accumulated vs Separated Display Toggle Fields -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const fieldsDisplayToggle = document.getElementById("select2Icons");
        const btnNext = document.getElementById("btn-next");
        const singleCampaignWrappers = document.querySelectorAll(".single-campaign");
        const groupedCampaignWrappers = document.querySelectorAll(".grouped-campaign");
        btnNext.addEventListener("click", () => {
        if (fieldsDisplayToggle.value === "aggregate") {

            // create 2 grouped search fields
            createGroupedCampaignSearch();
            createGroupedCampaignSearch();

            // create a form
            const form = document.createElement("form");
            form.id = "grouped-campaign-form";
            form.method = "get";
            const inputContainer = document.getElementById("input-container");
            inputContainer.appendChild(form);

            document.getElementById("add-input-field-single").style.display = "none";

            document.getElementById("add-input-field-grouped").style.display = "";

            document.getElementById("compare-separate-campaign").style.display = "none";

            document.getElementById("compare-grouped-campaign").style.display = "";

        } 
        if (fieldsDisplayToggle.value  === "separated" ) {

            // create 2 single search fields
            createSingleCampaignSearch();
            createSingleCampaignSearch();

            // create a form
            const form = document.createElement("form");
            form.id = "campaign-form";
            form.method = "get";
            const inputContainer = document.getElementById("input-container");
            inputContainer.appendChild(form);

            document.getElementById("add-input-field-single").style.display = "";
            
            document.getElementById("add-input-field-grouped").style.display = "none";

            document.getElementById("compare-separate-campaign").style.display = "";

            document.getElementById("compare-grouped-campaign").style.display = "none";
        }
        });
    });
</script>
<script src="{% static 'assets/js/form-wizard-numbered.js' %}"></script>
<!-- Comparison Form Event Listener -->
<script>
    const compareSeparateCampaign = document.getElementById("compare-separate-campaign");
    const compareGroupedCampaign = document.getElementById("compare-grouped-campaign");
    compareSeparateCampaign.addEventListener("click", () => {
        // Event Listener on form for Separate Campaign Comparison
        $("#campaign-form").on("submit", function (e) {
        e.preventDefault();
        const form = document.querySelector("#campaign-form");
        const formData = new FormData(form);
        const campaign = formData.getAll("name");
        console.log(campaign);
        const loadingOverlay = document.getElementById("loading-overlay");
        loadingOverlay.style.display = "flex";
        if (campaign.length <= 1) {
            Swal.fire({
            icon: "error",
            title: "خطا",
            text: "برای مقایسه باید حداقل دو کمپین انتخاب شوند.",
            confirmButtonColor: '#5a8dee',
            confirmButtonText: 'بستن' 
            });
            loadingOverlay.style.display = "none";
            return;
        }
        $.ajax({
            url: "/api/single-campaigns-comparison",
            data: {
                "campaign": campaign,
            },
            traditional: true,
            method: "GET",
            success: function (data) {
                document.querySelector(".table-border-bottom-0").innerHTML = "";
                data.forEach(campaign => {
                const rowhtml = `
                    <tr>
                        <td>
                            ${campaign.name} 
                        </td>
                        <td>
                            ${campaign.branch_name}
                        </td>
                        <td class="cprice">
                            ${campaign.cost}
                        </td>
                        <td>
                            ${campaign.campaign_type}
                        </td>
                        <td>
                            ${campaign.people_counting_avg}
                        </td>
                        <td class="cprice">
                            ${campaign.invoice_amount_avg}
                        </td>
                        <td>
                            ${campaign.invoice_number_avg}
                        </td>
                        <td>
                            ${campaign.conversion_rate}
                        </td>
                        <td class="cprice">
                            ${campaign.value_per_visitor}
                        </td>
                    </tr>
                    `
                document.querySelector(".table-border-bottom-0").insertAdjacentHTML("beforeend", rowhtml);
                document.getElementById("result").style.display = "";
                loadingOverlay.style.display = "none";
                window.scrollTo({
                    top: document.body.scrollHeight,
                    behavior: "smooth"
                });
                });
            },
            error: function (xhr) {
                console.error("Error loading data");
                loadingOverlay.style.display = "none";
            }
        });
        function priceSeparator() {
            document.querySelectorAll(".cprice").forEach(el => {
                const rowPrice = Number(el.innerHTML.trim());
                el.innerHTML = rowPrice.toLocaleString("fa-IR");
            });
        }
        setTimeout(priceSeparator, 500);
        document.querySelector("thead").classList.add("blink-border");
        setTimeout(() => {document.querySelector("thead").classList.remove("blink-border")}, 2000);
    });
    $("#campaign-form").submit();
    });
    compareGroupedCampaign.addEventListener("click", () => {
        // Event Listener on form for Grouped Campaign Comparison
        $("#grouped-campaign-form").on("submit", function (e) {
        e.preventDefault();
        const form = document.querySelector("#grouped-campaign-form");
        const formData = new FormData(form);
        const campaign = formData.getAll("name");
        console.log(campaign)
        const loadingOverlay = document.getElementById("loading-overlay");
        loadingOverlay.style.display = "flex";
        if (campaign.length <= 1) {
            Swal.fire({
            icon: "error",
            title: "خطا",
            text: "برای مقایسه باید حداقل دو کمپین انتخاب شوند.",
            confirmButtonColor: '#5a8dee',
            confirmButtonText: 'بستن' 
            });
            loadingOverlay.style.display = "none";
            return;
        }
        $.ajax({
            url: "/api/grouped-campaigns-comparison",
            data: {
                "grouped-campaign": campaign,
            },
            traditional: true,
            method: "GET",
            success: function (data) {
                document.querySelector(".table-border-bottom-0").innerHTML = "";
                data.forEach(campaign => {
                const rowhtml = `
                    <tr>
                        <td>
                            ${campaign.campaign_name} 
                        </td>
                        <td>
                            شعب انتخابی
                        </td>
                        <td class="cprice">
                            ${campaign.campaign_cost}
                        </td>
                        <td>
                            ${campaign.campaign_type}
                        </td>
                        <td>
                            ${campaign.people_counting_avg}
                        </td>
                        <td class="cprice">
                            ${campaign.invoice_amount_avg}
                        </td>
                        <td>
                            ${campaign.invoice_number_avg}
                        </td>
                        <td>
                            ${campaign.conversion_rate}
                        </td>
                        <td class="cprice">
                            ${campaign.value_per_visitor}
                        </td>
                    </tr>
                    `
                document.querySelector(".table-border-bottom-0").insertAdjacentHTML("beforeend", rowhtml);
                document.getElementById("result").style.display = "";
                loadingOverlay.style.display = "none";
                window.scrollTo({
                    top: document.body.scrollHeight,
                    behavior: "smooth"
                });
                });
            },
            error: function (xhr) {
                console.error("Error loading data");
                loadingOverlay.style.display = "none";
            }
        });
        function priceSeparator() {
            document.querySelectorAll(".cprice").forEach(el => {
                const rowPrice = Number(el.innerHTML.trim());
                el.innerHTML = rowPrice.toLocaleString("fa-IR");
            });
        }
        setTimeout(priceSeparator, 500);
        document.querySelector("thead").classList.add("blink-border");
        setTimeout(() => {document.querySelector("thead").classList.remove("blink-border")}, 2000);
    });
    $("#grouped-campaign-form").submit();
    });
</script>
<!-- Delete Element -->
<script>
    const btnPrevious = document.querySelector("#btn-previous");
    btnPrevious.addEventListener("click", () => {
        deleteAllSearchFields();
        deleteAllForms();
    });
    document.getElementById('input-container').addEventListener('click', function(e) {
        if (e.target.closest('.btn-danger')) {
            const wrapper = e.target.closest('.select-wrapper');
            if (!wrapper) return;

            // Get the select inside this wrapper
            const select = wrapper.querySelector('select');

            // Get the currently selected value
            const selectValue = $(select).val();
            const selectText  = $(select).find('option:selected').text(); 

            const inputs = document.querySelectorAll('input');
            if (inputs) {
                inputs.forEach(input => {
                    if (input.value === selectText) {
                        input.remove();
                    }
                });
            }

            const input = wrapper.querySelector('input');
            if (input) input.remove();

            wrapper.remove();
        }
    });
</script>
<!-- Icon JS -->
<script>
    $(document).ready(function() {
        // Function to format icons in dropdown results
        function formatIcon(option) {
            // Return the text for optgroups
            if (option.element && option.element.parentElement.tagName === 'OPTGROUP') {
                var icon = $(option.element).data('icon');
                if (icon) {
                    return $('<span><i class="' + icon + '"></i> ' + option.text + '</span>');
                }
            }
            return option.text;
        }

        // Function to format selected item
        function formatSelection(option) {
            if (option.element && $(option.element).data('icon')) {
                var icon = $(option.element).data('icon');
                return $('<span><i class="' + icon + '"></i> ' + option.text + '</span>');
            }
            return option.text;
        }

        // Initialize Select2
        $('#select2Icons').select2({
            templateResult: formatIcon,
            templateSelection: formatSelection,
            width: '100%',
            placeholder: "انتخاب کنید...",
            allowClear: false,
            dir: 'rtl'
        });
    });
</script>
{% endblock %}