{% extends 'base.html' %}
{% load static %}
{% block title %}
    کمپین ها
{% endblock %}
{% block meta_description %}
	  کمپین ها
{% endblock %}
{% block content %}
<div class="d-flex align-items-center py-3 mb-4">
    <i class='bx bx-bullseye bx-lg text-primary me-3'></i>
    <div>
        <h4 class="mb-1">کمپین ها</h4>
        <p class="text-muted mb-0">لیست کمپین های همه شعب</p>
    </div>
</div>
<div class="card">
  <a href="{% url 'create_campaign' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}" class="btn btn-success" type="button" style="width: 200px; margin: 20px;"><i style="margin-left: 10px;" class='bx bx-plus me-2'></i> ساخت کمپین جدید</a>
  <div class="table-responsive text-nowrap" style="margin-bottom: 100px;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>نام کمپین</th>
          <th>تاریخ شروع</th>
          <th>تاریخ پایان</th>
          <th>شعبه</th>
          <th>هزینه</th>
          <th>نوع کمپین</th>
          <th>عمل‌ها</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for campaign in campaigns %}
        <tr>
          <td><i class="align-middle fab fa-angular fa-lg text-danger me-3"></i><strong>{{ campaign.campaign_name }}</strong></td>
          <td class="date">{{ campaign.campaign_start_date|date:"Y-m-d" }}</td>
          <td class="date">
              {{ campaign.campaign_end_date|date:"Y-m-d"}}
          </td>
          <td>
              {{ campaign.branch_names }}
          </td>
          <td class="price">
            {{ campaign.campaign_cost|floatformat:0 }}
          </td>
          <td>
            {{ campaign.campaign_type }}
          </td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href=""><i class="menu-icon tf-icons bx bx-chart"></i>تحلیل آمار</a>
                <a class="dropdown-item" href="{% url 'edit_campaign' request.user.profile.merchant.url_hash campaign.group_id %}"><i class="bx bx-edit-alt me-1"></i>ویرایش</a>
                <a class="dropdown-item" href="{% url 'delete_campaign' request.user.profile.merchant.url_hash campaign.group_id %}"><i class="bx bx-trash me-1"></i>حذف</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <a onclick="window.history.back()" class="btn btn-secondary" type="button" style="margin: 30px; width: 100px; color: white;"><i style="margin-left: 10px;" class='bx bx-arrow-back me-2'></i> بازگشت</a>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/jalaali-js@1.2.8/dist/jalaali.min.js"></script>
<!-- Gregorian Jalali Conversion Raw JavaScript -->
<script src="{% static 'assets/js/campaign-gregorian-to-jalali-date-convert.js' %}"></script>
<script src="{% static 'assets/js/price-separator.js' %}"></script>
{% endblock %}