{% extends 'base.html' %}
{% load static %}
{% block title %}
    مقایسه و تحلیل کمپین ها
{% endblock %}
{% block meta_description %}
    مقایسه و تحلیل کمپین ها
{% endblock %}
{% block extra_css %}
<!-- Style for Calendar, FlatPicker and Toastr -->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/fullcalendar/fullcalendar.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/libs/flatpickr/flatpickr.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/css/pages/app-calendar.css' %}">
<!-- Shepherd -->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/shepherd/shepherd.css' %}">
<!-- Stepper -->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/bs-stepper/bs-stepper.css' %}">
<!-- Search as type style -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'assets/vendor/libs/bootstrap-select/bootstrap-select.css' %}">
<!-- Custom Style for FlatPicker Calendar -->
<style>
    .light-style .flatpickr-calendar {
    box-shadow: none !important;
    }
</style>
<!-- Custom Style for the Loading Overlay and the Blink -->
<style>
    .loading-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }
    .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .highcharts-credits {
        display: none;
    }

    @keyframes blink-border {
        0%   { border-color: #5a8dee; }
        50%  { border-color: transparent; }
        100% { border-color: #5a8dee; }
    }

    .blink-border {
        border: 5px solid #5a8dee;  
        animation: blink-border 0.5s linear infinite;
    }

    #search {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #add-input-field-single {
        width: 100%;
    }

    #add-input-field-grouped {
        width: 100%;
    }

    #input-container input {
        margin: 30px;
    }

    #result-container {
        background-clip: padding-box;
        border-style: solid;
        box-shadow: none;
        border-width: 1px;
        border-color: #e5e5e5;
        border-radius: 12px;
        padding: 10px;
    }

    @keyframes pulseColor {
    0%, 100% {
        color: #5a8dee;
    }
    50% {
        color: #d3dcf7;
    }
    }

    .blink-icon {
        animation: pulseColor 1.5s infinite;
    }


</style>
{% endblock %}
{% block content %}
<div class="loading-overlay" id="loading-overlay">
    <div class="loader"></div>
</div>
<div class="d-flex align-items-center py-3 mb-4">
    <i class='bx bx-bullseye bx-lg text-primary me-3'></i>
    <div>
        <h4 class="mb-1">مقایسه کمپین ها</h4>
        <p class="text-muted mb-0">در این قسمت می توانید ابتدا کمپین های مورد نظر را جست و جو و بعد مقایسه کنید</p>
    </div>
</div>
<div class="container">
    <div class="row" id="search-filters" style="margin-bottom: 20px;">
        <!-- Default Wizard -->
        <div class="col-12 mb-4">
            <div class="bs-stepper wizard-numbered mt-2">
            <div class="bs-stepper-header">
                <div class="step" data-target="#account-details">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">
                    <span class="bs-stepper-title">نمایش</span>
                    <span class="bs-stepper-subtitle"> تجمیعی یا تفکیکی</span>
                    </span>
                </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#personal-info">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">
                    <span class="bs-stepper-title">انتخاب</span>
                    <span class="bs-stepper-subtitle">انتخاب کمپین ها</span>
                    </span>
                </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <!-- accumulated or separated -->
                <div id="account-details" class="content">
                    <div class="content-header mb-3">
                    <h6 class="mb-1">نمایش</h6>
                    <small>در صورت انتخاب تجمیعی می توانید کمپین ها را به صورت کلی مقابسه کنید و اگر تفکیکی را انتخاب کنید کمپین ها را می توانید به تفکیک شعب انتخاب و مقایسه نمایید.</small>
                    </div>
                    <div class="row g-3">
                    <div class="col-sm-4" style="margin-bottom: 50px; margin-top: 50px;">
                        <label for="select2Icons" class="form-label">نمایش کمپین ها</label>
                        <select id="select2Icons" class="select2-icons form-select">
                            <option>------</option>
                            <option value="aggregate" data-icon="bx bx-layer">تجمیعی</option>
                            <option value="separated" data-icon="bx bx-collection">تفکیکی</option>
                        </select>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <button class="btn btn-label-secondary btn-prev" disabled>
                        <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                        <span class="d-sm-inline-block d-none">قبلی</span>
                        </button>
                        <button class="btn btn-primary btn-next" id="btn-next">
                        <span class="d-sm-inline-block d-none">بعدی</span>
                        <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                        </button>
                    </div>
                    </div>
                </div>
                <!-- Personal Info -->
                <div id="personal-info" class="content">
                    <div class="content-header mb-3">
                    <h6 class="mb-1">انتخاب کمپین</h6>
                    <small>در این قسمت می توانید کمپین ها را برای مقایسه انتخاب کنید.</small>
                    </div>
                    <div class="row g-3">
                    <!-- Name Search -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" id="search-by-name" style="margin-bottom: 10px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
                        <div id="search">
                            <div id="input-container">
                                <div style="width: 100%;">
                                    <p style="width: 100%; height: 0px; color: #f9f9f9;">در این قسمت میتوانید نام کمپین مورد نظر خود را وارد کنید</p>
                                </div>
                                <!-- <div class="select-wrapper single-campaign" style="margin-top: 30px; margin-bottom: 30px; width: 100%; display: flex;">
                                    <select class="form-control campaign-select-single" style="width:90%;"></select>
                                    <button class="btn btn-danger" style="width: 10%; margin-right: 10px;"><i class='bx bx-trash'></i></button>
                                </div>
                                <div class="select-wrapper single-campaign" style="margin-top: 30px; margin-bottom: 30px; width: 100%; display: flex;">
                                    <select class="form-control campaign-select-single" style="width:90%;"></select>
                                    <button class="btn btn-danger" style="width: 10%; margin-right: 10px;"><i class='bx bx-trash'></i></button>
                                </div>
                                <div class="select-wrapper grouped-campaign" style="margin-top: 30px; margin-bottom: 30px; width: 100%; display: flex;">
                                    <select class="form-control campaign-select-grouped" style="width:90%;"></select>
                                    <button class="btn btn-danger" style="width: 10%; margin-right: 10px;"><i class='bx bx-trash'></i></button>
                                </div>
                                <div class="select-wrapper grouped-campaign" style="margin-top: 30px; margin-bottom: 30px; width: 100%; display: flex;">
                                    <select class="form-control campaign-select-grouped" style="width:90%;"></select>
                                    <button class="btn btn-danger" style="width: 10%; margin-right: 10px;"><i class='bx bx-trash'></i></button>
                                </div> -->
                            </div>
                            <button id="add-input-field-single" class="btn btn-success"><i class='bx bx-plus-circle' style="margin-left: 10px;"></i> افزودن کمپین</button>
                            <button id="add-input-field-grouped" class="btn btn-success"><i class='bx bx-plus-circle' style="margin-left: 10px;"></i> افزودن کمپین</button>
                        </div>
                    </div>
                    <!-- Filter Button -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="margin-top: 20px; display: flex; align-items: center; flex-direction: column;">
                        <form action="" method="get" id="filter-form">
                            <label style="display: none;" for="start-date">از تاریخ</label>
                            <input type="text" name="start-date" id="start-date" style="display: none;">
                            <label style="display: none;" for="end-date">تا</label>
                            <input type="text" name="end-date" id="end-date" style="display: none;">
                            {% for branch in branches %}
                            <div class="form-check mt-3" style="display: none;">
                                <input class="form-check-input real-check" type="checkbox" value="{{ branch.pk }}" name="branch">
                                <label class="form-check-label" for="defaultCheck1">{{ branch.name }}</label>
                            </div>
                            {% endfor %}
                            <button class="btn btn-primary btn-md" type="submit" id="filter-proxy-button"><i class='bx bx-info-circle' style="margin-left: 10px;"></i>مشاهده اطلاعات</button>
                        </form>
                    </div>
                    <!-- Ignore the select -->
                    <select style="display: none;" class="selectpicker w-auto" id="language" data-style="btn-transparent" data-icon-base="bx" data-tick-icon="bx-check text-white" multiple>
                    </select>
                    <!--/ Ignore the select -->
                    <div class="col-12 d-flex justify-content-between">
                        <button class="btn btn-primary btn-prev">
                        <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                        <span class="d-sm-inline-block d-none">قبلی</span>
                        </button>
                        <button class="btn btn-success btn-submit">ثبت</button>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- /Default Wizard -->
        <!-- Name Search -->
        
    </div>
</div>
<div id="result-container" class="card" style="padding-bottom: 50px; padding-left: 15px; padding-right: 15px; display: none; padding-top: 50px;">
    <small style="margin-right: 20px;"><i style="margin-left: 5px;" class='bx bx-show-alt blink-icon ms-1'></i> نمایش</small>
    <select class="form-select" id="table-display" style="margin-bottom: 40px; margin-right: 20px; width: 200px; margin-top: 7px;">
        <option value="1" selected>تجمیعی</option>
        <option value="2">تفکیکی</option>
    </select>
    <div style="display: flex; justify-content: center; align-items: center;">
        <button class="btn btn-primary" type="button" id="compare" style="width: 200px; margin-bottom: 40px; margin-right: 20px;">
            <i style="margin-left: 10px;" class='bx bx-sidebar'></i> مقایسه کمپین ها
        </button>
    </div>
    <div class="table-responsive text-nowrap">
    <form id="grouped-campaign-form" method="get">
        <table class="table table-hover" id="grouped-campaign">
            <thead>
            <tr>
                <th class="blink-icon" id="select-campaign" style="font-size: 15px;"><strong>انتخاب</strong></th>
                <th>نام کمپین</th>
                <th>تاریخ شروع</th>
                <th>تاریخ پایان</th>
                <th>شعبه</th>
                <th>هزینه (تومان)</th>
                <th>نوع کمپین</th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for campaign in grouped_campaigns %}
                <tr>
                    <td><input type="checkbox" name="grouped-campaign" class="grouped-campaign-check-box" value="{{ campaign.group_id }}"></td>
                    <td><i class="align-middle fab fa-angular fa-lg text-danger me-3"></i><strong>{{ campaign.campaign_name }}</strong></td>
                    <td class="date">{{ campaign.campaign_start_date|date:"Y-m-d" }}</td>
                    <td class="date">
                        {{ campaign.campaign_end_date|date:"Y-m-d"}}
                    </td>
                    <td>
                        شعب انتخابی
                    </td>
                    <td class="price">
                    {{ campaign.campaign_cost|floatformat:0 }}
                    </td>
                    <td>
                    {{ campaign.campaign_type }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <form id="campaign-form" method="get">
        <table class="table table-hover" id="campaign" style="display: none;">
            <thead>
                <tr>
                <th class="blink-icon" style="font-size: 15px;"><strong>انتخاب</strong></th>
                <th>نام کمپین</th>
                <th>تاریخ شروع</th>
                <th>تاریخ پایان</th>
                <th>شعبه</th>
                <th>هزینه (تومان)</th>
                <th>نوع کمپین</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for campaign in campaigns %}
                <tr>
                <td><input type="checkbox" name="campaign" class="campaign-check-box" value="{{ campaign.pk }}"></td>
                <td><i class="align-middle fab fa-angular fa-lg text-danger me-3"></i><strong>{{ campaign.name }}</strong></td>
                <td class="date">{{ campaign.start_date|date:"Y-m-d" }}</td>
                <td class="date">
                    {{ campaign.end_date|date:"Y-m-d"}}
                </td>
                <td>
                    {{ campaign.branch.name }}
                </td>
                <td class="price">
                    {{ campaign.cost|floatformat:0 }}
                </td>
                <td>
                    {{ campaign.campaign_type }}
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
        <table class="table table-hover" id="result" style="display: none; margin-top: 100px;">
            <thead>
                <tr>
                <th>نام کمپین</th>
                <th>شعبه</th>
                <th>هزینه (تومان)</th>
                <th>نوع</th>
                <th>میانگین ترافیک</th>
                <th>میانگین فروش (تومان)</th>
                <th>میانگین تعداد فاکتور</th>
                <th>میانگین نرخ تبدیل (درصد)</th>
                <th>میانگین ارزش ورود (تومان)</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/jalaali-js@1.2.8/dist/jalaali.min.js"></script>
<!-- Gregorian Jalali Conversion Raw JavaScript -->
<script src="{% static 'assets/js/campaign-gregorian-to-jalali-date-convert.js' %}"></script>
<script src="{% static 'assets/js/price-separator.js' %}"></script>
<!-- Add Text Input / Search Form -->
<script>
    function createSingleCampaignSearch() {
        const newSelect = document.createElement("select");
        newSelect.name = "name";
        newSelect.style.width = "90%";
        newSelect.classList.add("form-control");
        newSelect.classList.add("campaign-select-single");
        const inputContainer = document.getElementById("input-container");
        const selectWrapper = document.createElement("div");
        selectWrapper.classList.add("select-wrapper");
        selectWrapper.style.marginTop = "30px";
        selectWrapper.style.marginBottom = "30px";
        selectWrapper.style.width = "100%";
        selectWrapper.style.display = "flex";
        const deleteBtn = document.createElement("button");
        deleteBtn.classList.add("btn");
        deleteBtn.classList.add("btn-danger");
        deleteBtn.style.width = "10%";
        deleteBtn.style.marginRight = "10px";
        const i = document.createElement("i");
        i.classList.add("bx");
        i.classList.add("bx-trash");
        deleteBtn.appendChild(i) 
        selectWrapper.appendChild(newSelect);
        selectWrapper.appendChild(deleteBtn);
        inputContainer.appendChild(selectWrapper);
        $(newSelect).select2({
            placeholder: 'نام کمپین مورد نظر را وارد کنید...',
            ajax: {
                url: '/dashboard/search/single-campaign-search-as-type/',
                dataType: 'json',
                delay: 250,
                data: params => ({ q: params.term }),
                processResults: (data) => ({
                    results: data
                }),
                cache: true
            },
            minimumInputLength: 1,
            width: '100%',
            language: {
                inputTooShort: function (args) {
                    const remaining = args.minimum - args.input.length;
                    return `حداقل ${remaining} کاراکتر دیگر وارد کنید`; 
                }
            }
        });
        $(newSelect).on('select2:select', function (e) {
            selectData = e.params.data;
            const newInput = document.createElement("input");
            newInput.name = "name";
            newInput.classList.add("form-control");
            newInput.classList.add("-single");
            newInput.value = selectData.text;
            newInput.style.display = "none";
            const inputContainer = document.getElementById("input-container");
            inputContainer.appendChild(newInput);
        });
    }
    function createGroupedCampaignSearch() {
        const newSelect = document.createElement("select");
        newSelect.name = "name";
        newSelect.style.width = "90%";
        newSelect.classList.add("form-control");
        newSelect.classList.add("campaign-select-grouped");
        const inputContainer = document.getElementById("input-container");
        const selectWrapper = document.createElement("div");
        selectWrapper.classList.add("select-wrapper");
        selectWrapper.style.marginTop = "30px";
        selectWrapper.style.marginBottom = "30px";
        selectWrapper.style.width = "100%";
        selectWrapper.style.display = "flex";
        const deleteBtn = document.createElement("button");
        deleteBtn.classList.add("btn");
        deleteBtn.classList.add("btn-danger");
        deleteBtn.style.width = "10%";
        deleteBtn.style.marginRight = "10px";
        const i = document.createElement("i");
        i.classList.add("bx");
        i.classList.add("bx-trash");
        deleteBtn.appendChild(i) 
        selectWrapper.appendChild(newSelect);
        selectWrapper.appendChild(deleteBtn);
        inputContainer.appendChild(selectWrapper);
        $(newSelect).select2({
            placeholder: 'نام کمپین مورد نظر را وارد کنید...',
            ajax: {
                url: '/dashboard/search/grouped-campaign-search-as-type/',
                dataType: 'json',
                delay: 250,
                data: params => ({ q: params.term }),
                processResults: (data) => ({
                    results: data
                }),
                cache: true
            },
            minimumInputLength: 1,
            width: '100%',
            language: {
                inputTooShort: function (args) {
                    const remaining = args.minimum - args.input.length;
                    return `حداقل ${remaining} کاراکتر دیگر وارد کنید`; 
                }
            }
        });
        $(newSelect).on('select2:select', function (e) {
            selectData = e.params.data;
            const newInput = document.createElement("input");
            newInput.name = "name";
            newInput.classList.add("form-control");
            newInput.classList.add("campaign-select-grouped");
            newInput.value = selectData.text;
            newInput.style.display = "none";
            const inputContainer = document.getElementById("input-container");
            inputContainer.appendChild(newInput);
        });
    }
    document.getElementById("add-input-field-single").addEventListener("click", createSingleCampaignSearch);

    document.getElementById("add-input-field-grouped").addEventListener("click", createGroupedCampaignSearch);
</script>
<!-- Display Toggle -->
<script>
    const tableDisplay = document.getElementById("table-display");
    const groupedCampaign = document.getElementById("grouped-campaign");
    const campaign = document.getElementById("campaign");
    tableDisplay.addEventListener("change", () => {
        let value = tableDisplay.value;
        if (value == 1) {
        campaign.style.display = "none";
        groupedCampaign.style.display = "";
        } else {
            campaign.style.display = "";
            groupedCampaign.style.display = "none";
        }
    });
</script>
<!-- Comparison Button -->
<script>
    const compare = document.getElementById("compare");
    const groupedCampaignForm = document.getElementById("grouped-campaign-form");
    const campaignForm = document.getElementById("campaign-form");
    compare.addEventListener("click", () => {
        
        if (document.getElementById("grouped-campaign").style.display !== "none") {
            groupedCampaignForm.dispatchEvent(new Event('submit', { cancelable: true }));
        }
        if (document.getElementById("campaign").style.display !== "none") {
            campaignForm.dispatchEvent(new Event('submit', { cancelable: true }));
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/jalaali-js/dist/jalaali.min.js"></script>
<!-- JQuery and Toastr Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- FlatPicker JS (Calendar) -->
<script src="{% static 'assets/vendor/libs/jdate/jdate.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
<script src="{% static 'assets/vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/l10n/fa-jdate.js' %}"></script>
<script src="{% static 'assets/js/app-calendar-events.js' %}"></script>
<script src="{% static 'assets/js/app-calendar.js' %}"></script>
<!-- FlatPicker (JS Calendar) Persian Configuration / Form Checks -->
<script src="{% static 'assets/js/persian-flatpicker-and-form-checks.js' %}"></script>
<!-- Sweet Alert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Button Collapse -->
<script src="{% static 'assets/js/accordion-collapse-toggle.js' %}"></script>
<!-- Button Color and Background -->
<script src="{% static 'assets/vendor/libs/shepherd/shepherd.js' %}"></script>
<!-- Campaign Display Filter / Error Handling-->
<script>
    document.getElementById("filter-form").addEventListener("submit", (event) => {
        event.preventDefault();
        const form = document.getElementById("filter-form");
        const formData = new FormData(form);
        document.querySelector("#search").querySelectorAll("input").forEach((input) => {
            if (input.value.trim() !== "") {
                formData.append(input.name, input.value.trim());
            }
        });
        const loadingOverlay = document.getElementById("loading-overlay");
        loadingOverlay.style.display = "flex";
        const startDateUrl = formData.get("start-date");
        const endDateUrl = formData.get("end-date");
        const branchUrl = formData.getAll("branch");
        const names = formData.getAll("name");
        if (document.getElementById("search-by-name").style.display !== "none") {
            if (startDateUrl && endDateUrl) {
                formData.delete("start-date");
                formData.delete("end-date");
                formData.delete("branch");
            }
        }
        const queryString = new URLSearchParams(formData).toString();
        const selectedBranches = $(".real-check:checked").map(function () {
            return $(this).val();
        }).get();
        if (names.length === 0 && document.getElementById("search-by-name").style.display !== "none") {
            Swal.fire({
                icon: "error",
                title: "خطا",
                text: "نام کمپین نمی تواند خالی باشد.",
                confirmButtonColor: '#5a8dee',
                confirmButtonText: 'بستن' 
            });
            loadingOverlay.style.display = "none";
            return; 
        }
        document.getElementById("search-by-name").style.display = "none";
        document.getElementById("filter-proxy-button").style.display = "none";
        document.getElementById("result-container").style.display = "";
        // Tour Logic here starts
        const tour = new Shepherd.Tour({
            defaultStepOptions: {
            scrollTo: { behavior: 'smooth', block: 'center' },
            cancelIcon: { enabled: true },
            classes: 'shadow-md bg-purple-dark',
            buttons: [
                { text: 'بعدی', action: () => tour.next() },
                { text: 'قبلی', action: () => tour.back() },
                { text: 'پایان', action: () => tour.complete() }
            ]
            }
        });

        // Step 1
        tour.addStep({
            title: 'مرحله ۱: مشاهده تجمیعی یا تفکیکی',
            text: 'می توانید از این قسمت نحوه نمایش را به تفکیکی یا تجمیعی تغییر دهید.',
            attachTo: { element: '#table-display', on: 'bottom' }
        });

        // Step 2
        tour.addStep({
            title: 'مرحله ۲: انتخاب کمپین',
            text: 'در این جدول اطلاعات همه کمپین ها نمایش داده می شود و می توانید آنها را انتخاب کنید.',
            attachTo: { element: '#select-campaign', on: 'top' }
        });

        // Step 3
        tour.addStep({
            title: 'مرحله ۳: مقایسه کمپین ها',
            text: 'یک کمپین در شعب مختلف و یا دو یا چند کمپین را می توانید مقایسه کنید.',
            attachTo: { element: '#compare', on: 'bottom' }
        });

        tour.start();
        // Tour Logic here ends
        fetch(`{% url 'campaign_comparison' url_hash=request.user.profile.merchant.url_hash %}?${queryString}`, {
        method: "GET",
        headers: {"X-Requested-With": "XMLHttpRequest"}
        })
        .then(response => {
            if (!response.ok) throw new Error('Network response was not ok');
            loadingOverlay.style.display = "none";
            return response.json()
        })
        .then(data => {
        // Grouped Campaign
        console.log(data)
        let campaignCount = data.grouped_campaigns.length;
        if (campaignCount === 0) {
            Swal.fire({
            icon: "error",
            title: "خطا",
            text: "کمپین یافت نشد",
            confirmButtonColor: '#5a8dee',
            confirmButtonText: 'بستن' 
            });
        }
        document.querySelectorAll(".table-border-bottom-0")[0].innerHTML = "";
        data.grouped_campaigns.forEach(campaign => {
            const rowhtml = `
                <tr>
                    <td><input type="checkbox" name="grouped-campaign" class="grouped-campaign-check-box" value="${ campaign.group_id }"></td>
                    <td><i class="align-middle fab fa-angular fa-lg text-danger me-3"></i><strong>${ campaign.campaign_name }</strong></td>
                    <td class="greg-date">${ campaign.campaign_start_date }</td>
                    <td class="greg-date">
                        ${ campaign.campaign_end_date }
                    </td>
                    <td>
                        شعب انتخابی
                    </td>
                    <td class="price">
                        ${ campaign.campaign_cost }
                    </td>
                    <td>
                        ${ campaign.campaign_type }
                    </td>
                </tr>
                `
                document.querySelectorAll(".table-border-bottom-0")[0].insertAdjacentHTML("beforeend", rowhtml);
            });
            // Campaign
            document.querySelectorAll(".table-border-bottom-0")[1].innerHTML = "";
            data.campaigns.forEach(campaign => {
            const rowhtml = `
                <tr>
                    <td><input type="checkbox" name="campaign" class="grouped-campaign-check-box" value="${ campaign.id }"></td>
                    <td><i class="align-middle fab fa-angular fa-lg text-danger me-3"></i><strong>${ campaign.name }</strong></td>
                    <td class="greg-date">${ campaign.start_date }</td>
                    <td class="greg-date">
                        ${ campaign.end_date }
                    </td>
                    <td>
                        ${ campaign.branch_name }
                    </td>
                    <td class="price">
                        ${ campaign.cost }
                    </td>
                    <td>
                        ${ campaign.campaign_type }
                    </td>
                </tr>
                `
            document.querySelectorAll(".table-border-bottom-0")[1].insertAdjacentHTML("beforeend", rowhtml);
        });
        },
        )      
        .catch((error) => {
        loadingOverlay.style.display = "none";
        return; 
        }
        );
        function jalaliDateConvertor() {
        document.querySelectorAll(".greg-date").forEach(el => {
        const gregorian = el.innerHTML.split("-");
        const gYear = parseInt(gregorian[0]);
        const gMonth = parseInt(gregorian[1]);
        const gDay = parseInt(gregorian[2]);
        const jdate = jalaali.toJalaali(gYear, gMonth, gDay);
        el.innerText = `${jdate.jy}/${String(jdate.jm).padStart(2, '0')}/${String(jdate.jd).padStart(2, '0')}`;
        });
        }
        function priceSeparator() {
            document.querySelectorAll(".price").forEach(el => {
                const rowPrice = Number(el.innerText.trim());
                el.innerText = rowPrice.toLocaleString("fa-IR");
            });
        }
        setTimeout(jalaliDateConvertor, 500);
        setTimeout(priceSeparator, 500);
    });
</script>
<!-- Campaign Comparison Form JQuery -->
<script>
    $("#campaign-form").on("submit", function (e) {
        e.preventDefault();
        const form = document.querySelector("#campaign-form");
        const formData = new FormData(form);
        const campaign = formData.getAll("campaign");
        const loadingOverlay = document.getElementById("loading-overlay");
        loadingOverlay.style.display = "flex";
        if (campaign.length <= 1) {
            Swal.fire({
            icon: "error",
            title: "خطا",
            text: "برای مقایسه باید حداقل دو کمپین انتخاب شوند.",
            confirmButtonColor: '#5a8dee',
            confirmButtonText: 'بستن' 
            });
            loadingOverlay.style.display = "none";
            return;
        }
        $.ajax({
            url: "/api/single-campaigns-comparison",
            data: {
                "campaign": campaign,
            },
            traditional: true,
            method: "GET",
            success: function (data) {
                document.querySelectorAll(".table-border-bottom-0")[2].innerHTML = "";
                data.forEach(campaign => {
                const rowhtml = `
                    <tr>
                        <td>
                            ${campaign.name} 
                        </td>
                        <td>
                            ${campaign.branch_name}
                        </td>
                        <td class="cprice">
                            ${campaign.cost}
                        </td>
                        <td>
                            ${campaign.campaign_type}
                        </td>
                        <td>
                            ${campaign.people_counting_avg}
                        </td>
                        <td class="cprice">
                            ${campaign.invoice_amount_avg}
                        </td>
                        <td>
                            ${campaign.invoice_number_avg}
                        </td>
                        <td>
                            ${campaign.conversion_rate}
                        </td>
                        <td class="cprice">
                            ${campaign.value_per_visitor}
                        </td>
                    </tr>
                    `
                document.querySelectorAll(".table-border-bottom-0")[2].insertAdjacentHTML("beforeend", rowhtml);
                document.getElementById("result").style.display = "";
                loadingOverlay.style.display = "none";
                window.scrollTo({
                    top: document.body.scrollHeight,
                    behavior: "smooth"
                });
                });
            },
            error: function (xhr) {
                console.error("Error loading data");
                loadingOverlay.style.display = "none";
            }
        });
        function priceSeparator() {
            document.querySelectorAll(".cprice").forEach(el => {
                const rowPrice = Number(el.innerHTML.trim());
                el.innerHTML = rowPrice.toLocaleString("fa-IR");
            });
        }
        setTimeout(priceSeparator, 500);
        document.querySelectorAll("thead")[2].classList.add("blink-border");
        setTimeout(() => {document.querySelectorAll("thead")[2].classList.remove("blink-border")}, 2000);
    });
    $("#grouped-campaign-form").on("submit", function (e) {
        e.preventDefault();
        const form = document.querySelector("#grouped-campaign-form");
        const formData = new FormData(form);
        const campaign = formData.getAll("grouped-campaign");
        const loadingOverlay = document.getElementById("loading-overlay");
        loadingOverlay.style.display = "flex";
        if (campaign.length <= 1) {
            Swal.fire({
            icon: "error",
            title: "خطا",
            text: "برای مقایسه باید حداقل دو کمپین انتخاب شوند.",
            confirmButtonColor: '#5a8dee',
            confirmButtonText: 'بستن' 
            });
            loadingOverlay.style.display = "none";
            return;
        }
        $.ajax({
            url: "/api/grouped-campaigns-comparison",
            data: {
                "grouped-campaign": campaign,
            },
            traditional: true,
            method: "GET",
            success: function (data) {
                document.querySelectorAll(".table-border-bottom-0")[2].innerHTML = "";
                data.forEach(campaign => {
                const rowhtml = `
                    <tr>
                        <td>
                            ${campaign.campaign_name} 
                        </td>
                        <td>
                            شعب انتخابی
                        </td>
                        <td class="cprice">
                            ${campaign.campaign_cost}
                        </td>
                        <td>
                            ${campaign.campaign_type}
                        </td>
                        <td>
                            ${campaign.people_counting_avg}
                        </td>
                        <td class="cprice">
                            ${campaign.invoice_amount_avg}
                        </td>
                        <td>
                            ${campaign.invoice_number_avg}
                        </td>
                        <td>
                            ${campaign.conversion_rate}
                        </td>
                        <td class="cprice">
                            ${campaign.value_per_visitor}
                        </td>
                    </tr>
                    `
                document.querySelectorAll(".table-border-bottom-0")[2].insertAdjacentHTML("beforeend", rowhtml);
                document.getElementById("result").style.display = "";
                loadingOverlay.style.display = "none";
                window.scrollTo({
                    top: document.body.scrollHeight,
                    behavior: "smooth"
                });
                });
            },
            error: function (xhr) {
                console.error("Error loading data");
                loadingOverlay.style.display = "none";
            }
        });
        function priceSeparator() {
            document.querySelectorAll(".cprice").forEach(el => {
                const rowPrice = Number(el.innerHTML.trim());
                el.innerHTML = rowPrice.toLocaleString("fa-IR");
            });
        }
        setTimeout(priceSeparator, 500);
        document.querySelectorAll("thead")[2].classList.add("blink-border");
        setTimeout(() => {document.querySelectorAll("thead")[2].classList.remove("blink-border")}, 2000);
    });
</script>
<!-- Search as type functionality -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- Stepper -->
<script src="{% static 'assets/vendor/libs/bs-stepper/bs-stepper.js' %}"></script>
<!-- Accumulated vs Separated Display Toggle Fields -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const fieldsDisplayToggle = document.getElementById("select2Icons");
        const btnNext = document.getElementById("btn-next");
        const singleCampaignWrappers = document.querySelectorAll(".single-campaign");
        const groupedCampaignWrappers = document.querySelectorAll(".grouped-campaign");
        btnNext.addEventListener("click", () => {
        if (fieldsDisplayToggle.value === "aggregate") {

            singleCampaignWrappers.forEach(item => {
                item.style.display = "none";
            });

            groupedCampaignWrappers.forEach(item => {
                item.style.display = "";
            });

            document.getElementById("add-input-field-single").style.display = "none";

            document.getElementById("add-input-field-grouped").style.display = "";

        } else {

            singleCampaignWrappers.forEach(item => {
                item.style.display = "";
            });

            groupedCampaignWrappers.forEach(item => {
                item.style.display = "none";
            });

            document.getElementById("add-input-field-single").style.display = "";
            
            document.getElementById("add-input-field-grouped").style.display = "none"
        }
        });
    });
</script>
<script src="{% static 'assets/js/form-wizard-numbered.js' %}"></script>
<!-- Search as type logic -->
<script>
    $('.campaign-select-single').select2({
        placeholder: 'نام کمپین مورد نظر را وارد کنید...',
        ajax: {
            url: '/dashboard/search/single-campaign-search-as-type/',
            dataType: 'json',
            delay: 250,
            data: params => ({ q: params.term }),
            processResults: (data) => ({
                results: data
            }),
            cache: true
        },
        minimumInputLength: 1,
        width: '100%',
        language: {
            inputTooShort: function (args) {
                const remaining = args.minimum - args.input.length;
                return `حداقل ${remaining} کاراکتر دیگر وارد کنید`;
            }
        }
    });
    $('.campaign-select-single').on('select2:select', function (e) {
        selectData = e.params.data;
        const newInput = document.createElement("input");
        newInput.name = "name";
        newInput.classList.add("form-control");
        newInput.classList.add("campaign-select-single");
        newInput.value = selectData.text;
        newInput.style.display = "none";
        const inputContainer = document.getElementById("input-container");
        inputContainer.appendChild(newInput);
    });
    $('.campaign-select-grouped').select2({
        placeholder: 'نام کمپین مورد نظر را وارد کنید...',
        ajax: {
            url: '/dashboard/search/grouped-campaign-search-as-type/',
            dataType: 'json',
            delay: 250,
            data: params => ({ q: params.term }),
            processResults: (data) => ({
                results: data
            }),
            cache: true
        },
        minimumInputLength: 1,
        width: '100%',
        language: {
            inputTooShort: function (args) {
                const remaining = args.minimum - args.input.length;
                return `حداقل ${remaining} کاراکتر دیگر وارد کنید`;
            }
        }
    });
    $('.campaign-select-grouped').on('select2:select', function (e) {
        selectData = e.params.data;
        const newInput = document.createElement("input");
        newInput.name = "name";
        newInput.classList.add("form-control");
        newInput.classList.add("campaign-select-single");
        newInput.value = selectData.text;
        newInput.style.display = "none";
        const inputContainer = document.getElementById("input-container");
        inputContainer.appendChild(newInput);
    });
</script>
<!-- Delete Element -->
<script>
    document.getElementById('input-container').addEventListener('click', function(e) {
        if (e.target.closest('.btn-danger')) {
            const wrapper = e.target.closest('.select-wrapper');
            if (!wrapper) return;

            // Get the select inside this wrapper
            const select = wrapper.querySelector('select');

            // Get the currently selected value
            const selectValue = $(select).val();
            const selectText  = $(select).find('option:selected').text(); 

            const inputs = document.querySelectorAll('input');
            if (inputs) {
                inputs.forEach(input => {
                    if (input.value === selectText) {
                        input.remove();
                    }
                });
            }

            const input = wrapper.querySelector('input');
            if (input) input.remove();

            wrapper.remove();
        }
    });
</script>
<!-- Icon JS -->
<script>
    $(document).ready(function() {
        // Function to format icons in dropdown results
        function formatIcon(option) {
            // Return the text for optgroups
            if (option.element && option.element.parentElement.tagName === 'OPTGROUP') {
                var icon = $(option.element).data('icon');
                if (icon) {
                    return $('<span><i class="' + icon + '"></i> ' + option.text + '</span>');
                }
            }
            return option.text;
        }

        // Function to format selected item
        function formatSelection(option) {
            if (option.element && $(option.element).data('icon')) {
                var icon = $(option.element).data('icon');
                return $('<span><i class="' + icon + '"></i> ' + option.text + '</span>');
            }
            return option.text;
        }

        // Initialize Select2
        $('#select2Icons').select2({
            templateResult: formatIcon,
            templateSelection: formatSelection,
            width: '100%',
            placeholder: "انتخاب کنید...",
            allowClear: false,
            dir: 'rtl'
        });
    });
</script>
{% endblock %}