{% extends 'base.html' %}
{% load static %}
{% block title %}
    ساخت کمپین
{% endblock %}
{% block meta_description %}
	ساخت کمپین
{% endblock %}
{% block extra_css %}
<!-- Style for Calendar, FlatPicker and Toastr -->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/fullcalendar/fullcalendar.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/libs/flatpickr/flatpickr.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/css/pages/app-calendar.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/libs/toastr/toastr.css' %}" />
<!-- Custom Style for FlatPicker Calendar -->
<style>
    .light-style .flatpickr-calendar {
        box-shadow: none !important;
    }
    small {
        display: none;
    }
</style>
<!-- Form Custom Style -->
<style>
    #form-card {
        background-clip: padding-box;
        border-style: solid;
        box-shadow: none;
        border-width: 1px;
        border-color: #e5e5e5;
        border-radius: 12px;
        height: 100%;
        padding: 10px;
    }
</style>
{% endblock %}
{% block content %}
<div class="d-flex align-items-center py-3 mb-4">
    <i class='bx bx-bullseye bx-lg text-primary me-3'></i>
    <div>
        <h4 class="mb-1">ساخت کمپین</h4>
        <p class="text-muted mb-0">در این قسمت می توانید برای شعب انتخاب شده کمپین خود را بسازید</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4" id="form-card">
        <div class="card-body">
            <form method="post" action="" id="form-create-campaign">
                {% csrf_token %}
                <div style="margin-top: 20px;">
                    <i class='bx bx-bullseye text-muted'></i>
                    <label for="id_name" class="form-label">نام کمپین</label>
                    <input type="text" name="name" value="" maxlength="255" required class="form-control" id="id_name" placeholder="کمپین نوروز" aria-describedby="defaultFormControlHelp">
                    <small id="err-name" style="color: #ff5b5c;">نام کمپین را وارد کنید</small>
                </div>

                <div id="start-date" style="display: none;">
                    <label for="id_start_date">تاریخ شروع:</label>
                    <input type="text" name="start_date" value="" required id="id_start_date">
                </div>

                <div id="end_date" style="display: none;"> 
                    <label for="id_end_date">تاریخ پایان:</label>
                    <input type="text" name="end_date" value="" required id="id_end_date">
                </div>

                <div style="margin-top: 20px;">
                    <i class='bx bx-calendar text-muted'></i>
                    <label for="flatpickr-date" class="form-label">تاریخ شروع</label>
                    <input type="text" class="form-control" placeholder="YYYY/MM/DD" id="flatpickr-date">
                    <small id="err-start-date" style="color: #ff5b5c;">تاریخ شروع را وارد کنید</small>
                </div>

                <div style="margin-top: 20px;">
                    <i class='bx bx-calendar text-muted'></i>
                    <label for="flatpickr-date-end" class="form-label">تاریخ پایان</label>
                    <input type="text" class="form-control" placeholder="YYYY/MM/DD" id="flatpickr-date-end">
                    <small id="err-end-date" style="color: #ff5b5c;">تاریخ پایان را وارد کنید</small>
                </div>

                <div id="id_branch" style="margin-top: 20px;">
                    <i class='bx bx-current-location text-muted'></i>
                    <label class="form-label">شعب</label>
                    <div>
                        <label class="form-check-label">
                        <input id="select-all" class="form-check-input" type="checkbox" style="margin-left: 10px;">انتخاب همه</label>
                    </div>
                    {% for branch in branches %}
                    <div>
                        <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="branch" value="{{ branch.pk }}" aria-invalid="true" style="margin-left: 10px;">{{ branch.name }}</label>
                    </div>
                    {% endfor %}
                    <small id="err-branch" style="color: #ff5b5c;">شعبه یا شعب مورد نظر را انتخاب کنید</small>
                </div>

                <div style="margin-top: 20px;">
                    <i class='bx bx-wallet text-muted'></i>
                    <label for="id_cost" class="form-label">هزینه:</label>
                    <input type="number" name="cost" value="" maxlength="255" id="id_cost" class="form-control" placeholder="(هزینه کمپین به تومان)" aria-describedby="defaultFormControlHelp">
                    <small id="err-cost" style="color: #ff5b5c;">هزینه را وارد کنید</small>
                </div>

                <div style="margin-top: 20px;">
                    <i class='bx bx-text text-muted'></i>
                    <label for="id_campaign_type" class="form-label">نوع کمپین:</label>
                    <select name="campaign_type" required id="id_campaign_type" class="form-select">
                            <option value="">---------</option>
                            <option value="ویترین">ویترین</option>
                            <option value="فروش">فروش</option>
                    </select>
                    <small id="err-type" style="color: #ff5b5c;">نوع کمپین را وارد کنید</small>
                </div>

                <div style="margin-top: 35px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <button class="btn btn-primary" id="submit-btn" style="width: 40%;;"><i style="margin-left: 10px;" class='bx bx-save me-2'></i> ثبت</button>
                    <a href="{% url 'campaign' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}" class="btn btn-secondary" style="width: 40%; margin-top: 30px;"><i style="margin-left: 10px;" class='bx bx-arrow-back me-2'></i> بازگشت</a>
                </div>
            </form>
            
        </div>
        </div>
    </div>
</div>
{% for message in messages %}
    {% if message.tags == 'success' %}
        <div style="display: none;" class="alert alert-success" role="alert">{{ message }}</div>
        {% elif message.tags == 'warning' %}
        <div style="display: none;" class="alert alert-warning" role="alert">{{ message }}</div>
        {% else %}
        <div style="display: none;" class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
{% endfor %}
{% endblock %}
{% block extra_js %}
<!-- FlatPicker JS (Calendar) -->
<script src="https://cdn.jsdelivr.net/npm/jalaali-js@1.2.8/dist/jalaali.min.js"></script>
<script src="{% static 'assets/vendor/libs/jdate/jdate.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
<script src="{% static 'assets/vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/l10n/fa-jdate.js' %}"></script>
<script src="{% static 'assets/js/app-calendar-events.js' %}"></script>
<script src="{% static 'assets/js/app-calendar.js' %}"></script>
<script src="{% static 'assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js' %}"></script>
<script src="{% static 'assets/vendor/libs/jquery-timepicker/jquery-timepicker.js' %}"></script>
<script src="{% static 'assets/vendor/libs/pickr/pickr.js' %}"></script>
<!-- Page JS -->
<script src="{% static 'assets/js/forms-pickers.js' %}"></script>
<!-- Flat Picker Configuration -->
<script>
    flatpickr("#flatpickr-date-end", {
      monthSelectorType: 'static',
      locale: 'fa',
      altInput: true,
      altFormat: 'Y/m/d',
      disableMobile: true
    });
</script>
<!-- Flat Picker Jalali Date Configuration -->
<script>
    function convertJalaliToGregorian(jalaliDate) {
    const [jy, jm, jd] = jalaliDate.split("-").map(Number);
    const { gy, gm, gd } = jalaali.toGregorian(jy, jm, jd);
    return `${gy}-${String(gm).padStart(2, '0')}-${String(gd).padStart(2, '0')}`;
    }

    const formCreateCampaign = document.querySelector("#form-create-campaign")
    const flatpickrDate = document.querySelector("#flatpickr-date")
    const flatpickrDateEnd = document.querySelector("#flatpickr-date-end")
    const idStartDate = document.querySelector("#id_start_date")
    const idEndDate = document.querySelector("#id_end_date")
    const submitBtn = document.querySelector("#submit-btn")

    submitBtn.addEventListener("click", (e) => {
    e.preventDefault();
    idStartDate.value = convertJalaliToGregorian(flatpickrDate.value)  
    idEndDate.value = convertJalaliToGregorian(flatpickrDateEnd.value)  
    console.log(idStartDate.value, idEndDate.value)
    formCreateCampaign.submit()
    })
</script>
<!-- Form Confirmation -->
<script>
    const idName = document.getElementById("id_name");
    const idStartDateS = document.querySelectorAll(".flatpickr-input")[0];
    const idEndDateS = document.querySelectorAll(".flatpickr-input")[1];
    const formCheckInput = document.querySelectorAll(".form-check-input");
    const branchChecks = []
    const idCost = document.getElementById("id_cost");
    const idCampaignType = document.getElementById("id_campaign_type");
    const errName = document.getElementById("err-name");
    const errStartDate = document.getElementById("err-start-date");
    const errEndDate = document.getElementById("err-end-date");
    const errBranch = document.getElementById("err-branch");
    const errCost = document.getElementById("err-cost");
    const errType = document.getElementById("err-type");
    const selectAll = document.querySelector("#select-all");
    const allCheckBoxes = document.querySelectorAll(".form-check-input");

    // Event Listner Form Confirmation and Error Handling
    idName.addEventListener("change", () => {
        if (!idName.value) {
            errName.style.display = 'block';
        } else {
            errName.style.display = 'none';
        } 
    });
    idStartDateS.addEventListener("change", () => {
        if (!idStartDateS.value) {
            errStartDate.style.display = 'block';
        } else {
            errStartDate.style.display = 'none';
        } 
    });
    idEndDateS.addEventListener("change", () => {
        if (!idEndDateS.value) {
            errEndDate.style.display = 'block';
        } else {
            errEndDate.style.display = 'none';
        } 
    });
    idCost.addEventListener("change", () => {
       if (!idCost.value) {
            errCost.style.display = 'block';
        } else {
            errCost.style.display = 'none';
        }
        branchChecks.length = 0;
        formCheckInput.forEach(
            i => {
                if (i.checked) {
                    branchChecks.push(i);
                }
            }
        );
        if (branchChecks.length === 0) {
            errBranch.style.display = 'block';
        } else {
            errBranch.style.display = 'none';
        }
    });
    idCampaignType.addEventListener("change", () => {
        if (!idCampaignType.value) {
            errType.style.display = 'block';
        } else {
            errType.style.display = 'none';
        }  
    });
    selectAll.addEventListener("change", () => {
        if (selectAll.checked === true) {
            allCheckBoxes.forEach(item => {
                item.checked = true;
            });
        } else {
            allCheckBoxes.forEach(item => {
                item.checked = false;
            });
        }
    });
</script>
<!-- JQuery and Toastr Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'assets/vendor/libs/toastr/toastr.js' %}"></script>
<!-- Sweet Alert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Pop Ups -->
<script>
  try {
    const successContainer = document.querySelector(".alert-success");
    if (successContainer) {
      const success = successContainer.innerText;
        Swal.fire({
        icon: "success",
        title: "موفق",
        html: `${success}<br><br><a class="btn btn-primary" href="{% url 'campaign' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}">بستن</a>`,
        showConfirmButton: false,
      });
    }
  } catch (error) {
    console.log(error);
  }
  
  try {
    const errorContainer = document.querySelector(".alert-danger");
    const errorItem = $('.alert ul.errorlist li:first').contents().first().text().trim();
    if (errorContainer.children.length >= 1) {
      const error = `${errorItem} - ${document.querySelector(".errorlist li .errorlist li").innerText}`;
        Swal.fire({
        icon: "error",
        title: "خطا",
        html: `${error}`,
        confirmButtonColor: '#5a8dee',
        confirmButtonText: 'بستن' 
      });
    }
  } catch (error) {
    console.log(error);
  }
</script>
{% endblock %}