{% extends 'base.html' %}
{% load static %}
{% block title %}
    ویرایش کمپین
{% endblock %}
{% block meta_description %}
	ویرایش کمپین
{% endblock %}
{% block extra_css %}
<!-- Style for Calendar, FlatPicker and Toastr -->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/fullcalendar/fullcalendar.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/libs/flatpickr/flatpickr.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/css/pages/app-calendar.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/libs/toastr/toastr.css' %}" />
<!-- Custom Style for FlatPicker Calendar -->
<style>
    .light-style .flatpickr-calendar {
    box-shadow: none !important;
    }
</style>
{% endblock %}
{% block content %}
{% if not request.user.profile.is_manager %}
<div class="alert alert-danger" role="alert">
<h6 class="alert-heading mb-1">خطای دسترسی</h6>
شما مجاز به ایجاد تغییر در این صفحه نیستید. صرفا مجاز به ایجاد تغییر در کمپین های مربوط به شعب زیر هستید:
<br>
{% for branch in branches %}
{{ branch.name }}
<br>
{% endfor %}
</div>
<a href="{% url 'campaign' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}" class="btn btn-secondary" style="margin-top: 35px; width: 200px;">بازگشت</a>
{% endif %}
{% if messages %}
{% for message in messages %}
    {% if message.tags != 'success' %}
    <div class="alert alert-danger" style="width: 50%;">{{ message }}</div>    
    {% endif %}
{% endfor %}
{% endif %}
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4" style="
        background-clip: padding-box;
        border-style: solid;
        box-shadow: none;
        border-width: 1px;
        border-color: #e5e5e5;
        border-radius: 12px;
        padding: 10px;
            ">
        <h5 class="card-header heading-color">ویرایش کمپین</h5>
        <div class="card-body">
            <form method="post" action="" id="form-create-campaign">
                {% csrf_token %}
                <div>
                    <label for="id_name" class="form-label">نام کمپین</label>
                    <input type="text" name="name" value="{{ campaign.campaign_name }}" maxlength="255" required class="form-control" id="id_name" placeholder="کمپین نوروز" aria-describedby="defaultFormControlHelp">
                </div>

                <div id="start-date" style="display: none;">
                    <label for="id_start_date">تاریخ شروع:</label>
                    <input type="text" name="start_date" value="" required id="id_start_date">
                </div>

                <div id="end_date" style="display: none;"> 
                    <label for="id_end_date">تاریخ پایان:</label>
                    <input type="text" name="end_date" value="" required id="id_end_date">
                </div>

                <div>
                    <label for="flatpickr-date" class="form-label">تاریخ شروع</label>
                    <input type="text" value="{{ start_date }}" class="form-control" placeholder="YYYY/MM/DD" id="flatpickr-date">
                </div>

                <div>
                    <label for="flatpickr-date-end" class="form-label">تاریخ پایان</label>
                    <input type="text" value="{{ end_date }}" class="form-control" placeholder="YYYY/MM/DD" id="flatpickr-date-end">
                </div>

                <div id="id_branch">
                    <label class="form-label">شعب</label>
                    {% for branch in branches %}
                    <div>
                        <label class="form-check-label"><input class="form-check-input" type="checkbox" name="branch" value="{{ branch.pk }}" aria-invalid="true" style="margin-left: 10px;" {% if branch.pk in selected_branch_pks %}checked{% endif %}>{{ branch.name }}</label>
                    </div>
                    {% endfor %}
                </div>

                <div>
                    <label for="id_cost" class="form-label">هزینه:</label>
                    <input type="text" name="cost" value="{{ campaign.campaign_cost|floatformat:0 }}" maxlength="255" id="id_cost" class="form-control" placeholder="(هزینه کمپین به تومان)" aria-describedby="defaultFormControlHelp">
                </div>

                <div>
                    <label for="id_campaign_type" class="form-label">نوع کمپین:</label>
                    <select name="campaign_type" required id="id_campaign_type" class="form-select">
                            <option value="">---------</option>
                            <option value="ویترین" {% if campaign.campaign_type == 'ویترین' %}selected{% endif %}>ویترین</option>
                            <option value="فروش" {% if campaign.campaign_type == 'فروش' %}selected{% endif %}>فروش</option>
                    </select>
                </div>
                
                <button class="btn btn-primary" style="margin-top: 35px;" id="submit-btn">ثبت</button>
            </form>
        </div>
        </div>
    </div>
</div>
<a href="{% url 'campaign' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}" class="btn btn-secondary" style="margin-top: 35px; width: 200px;">بازگشت</a>
{% endblock %}
{% block extra_js %}
<!-- FlatPicker JS (Calendar) -->
<script src="https://cdn.jsdelivr.net/npm/jalaali-js@1.2.8/dist/jalaali.min.js"></script>
<script src="{% static 'assets/vendor/libs/jdate/jdate.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
<script src="{% static 'assets/vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/l10n/fa-jdate.js' %}"></script>
<script src="{% static 'assets/js/app-calendar-events.js' %}"></script>
<script src="{% static 'assets/js/app-calendar.js' %}"></script>
<script src="{% static 'assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js' %}"></script>
<script src="{% static 'assets/vendor/libs/jquery-timepicker/jquery-timepicker.js' %}"></script>
<script src="{% static 'assets/vendor/libs/pickr/pickr.js' %}"></script>
<!-- Page JS -->
<script src="{% static 'assets/js/forms-pickers.js' %}"></script>
<!-- Flat Picker Configuration -->
<script>
    flatpickr("#flatpickr-date-end", {
      monthSelectorType: 'static',
      locale: 'fa',
      altInput: true,
      altFormat: 'Y/m/d',
      disableMobile: true
    });
</script>
<!-- Flat Picker Jalali Date Configuration -->
<script>
    function convertJalaliToGregorian(jalaliDate) {
    const [jy, jm, jd] = jalaliDate.split("-").map(Number);
    const { gy, gm, gd } = jalaali.toGregorian(jy, jm, jd);
    return `${gy}-${String(gm).padStart(2, '0')}-${String(gd).padStart(2, '0')}`;
    }

    function convertGregorianToJalali(gregorianDateStr) {
    const [gy, gm, gd] = gregorianDateStr.split("-").map(Number);
    const { jy, jm, jd } = jalaali.toJalaali(gy, gm, gd);
    return `${jy}-${String(jm).padStart(2, '0')}-${String(jd).padStart(2, '0')}`;
    }

    const formCreateCampaign = document.querySelector("#form-create-campaign")
    const flatpickrDate = document.querySelector("#flatpickr-date")
    const flatpickrDateEnd = document.querySelector("#flatpickr-date-end")
    const idStartDate = document.querySelector("#id_start_date")
    const idEndDate = document.querySelector("#id_end_date")
    const submitBtn = document.querySelector("#submit-btn")

    submitBtn.addEventListener("click", (e) => {
    e.preventDefault();
    idStartDate.value = convertJalaliToGregorian(flatpickrDate.value)  
    idEndDate.value = convertJalaliToGregorian(flatpickrDateEnd.value)  
    console.log(idStartDate.value, idEndDate.value)
    formCreateCampaign.submit()
    })
</script>
{% endblock %}