{% extends 'base.html' %}
{% load static %}
{% block title %}
    خانه
{% endblock %}
{% block meta_description %}
	خانه
{% endblock %}
{% block content %}
{% block extra_css %}
<style>
    .card {
        border-style: solid;
        box-shadow: none;
        border-width: 1px;
        border-color: #e5e5e5;
        border-radius: 8px;
        box-shadow: none !important;
    }
    .card-stat-num {
        text-align: left !important;
        font-size: 20px !important;
        margin-bottom: 12.5px !important;
    }
    .card-sub-text {
        margin-top: 10px !important;
        font-weight: bold !important;
        text-align: left !important;
    }
</style>
{% endblock %}
{% if request.user.profile.is_manager %}
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <h2 class="mb-n3 num card-stat-num">{{ last_7_days_invoice_product }}</h2>
                <span class="d-block text-nowrap pt-1 card-sub-text">محصول 7 روز اخیر</span>
                {% if rounded_diff_7_invoice_product > 0 %}
                <span class="d-block text-nowrap pt-1 card-sub-text">7 روز گذشته <i class='bx bx-up-arrow-alt text-success'></i><span style="color: #30bd87;">{{ rounded_diff_7_invoice_product }}%</span></span>
                {% else %}
                <span class="d-block text-nowrap pt-1 card-sub-text">7 روز گذشته <i class='bx bx-down-arrow-alt text-danger'></i><span style="color: rgb(250 86 87) !important;">{{ rounded_diff_7_invoice_product }}%</span></span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <h2 class="mb-n3 num card-stat-num">{{ last_30_days_invoice_product }}</h2>
                <span class="d-block text-nowrap pt-1 card-sub-text">محصول 30 روز اخیر</span>
                {% if rounded_diff_30_invoice_product > 0 %}
                <span class="d-block text-nowrap pt-1 card-sub-text">30 روز گذشته <i class='bx bx-up-arrow-alt text-success'></i><span style="color: #30bd87;">{{ rounded_diff_30_invoice_product }}%</span></span>
                {% else %}
                <span class="d-block text-nowrap pt-1 card-sub-text">30 روز گذشته <i class='bx bx-down-arrow-alt text-danger'></i><span style="color: rgb(250 86 87) !important;">{{ rounded_diff_30_invoice_product }}%</span></span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <h2 class="mb-n3 num card-stat-num">{{ last_7_days_invoice_number }}</h2>
                <span class="d-block text-nowrap pt-1 card-sub-text">فاکتور 7 روز اخیر</span>
                {% if rounded_diff_7_invoice_num > 0 %}
                <span class="d-block text-nowrap pt-1 card-sub-text">7 روز گذشته <i class='bx bx-up-arrow-alt text-success'></i><span style="color: #30bd87;">{{ rounded_diff_7_invoice_num }}%</span></span>
                {% else %}
                <span class="d-block text-nowrap pt-1 card-sub-text">7 روز گذشته <i class='bx bx-down-arrow-alt text-danger'></i><span style="color: rgb(250 86 87) !important;">{{ rounded_diff_7_invoice_num }}%</span></span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <h2 class="mb-n3 num card-stat-num">{{ last_30_days_invoice_number }}</h2>
                <span class="d-block text-nowrap pt-1 card-sub-text">فاکتور 30 روز اخیر</span>
                {% if rounded_diff_30_invoice_num > 0 %}
                <span class="d-block text-nowrap pt-1 card-sub-text">30 روز گذشته <i class='bx bx-up-arrow-alt text-success'></i><span style="color: #30bd87;">{{ rounded_diff_30_invoice_num }}%</span></span>
                {% else %}
                <span class="d-block text-nowrap pt-1 card-sub-text">30 روز گذشته <i class='bx bx-down-arrow-alt text-danger'></i><span style="color: rgb(250 86 87) !important;">{{ rounded_diff_30_invoice_num }}%</span></span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <h2 class="mb-n3 num card-stat-num">{{ last_7_days_invoice_amount }}</h2>
                <span class="d-block text-nowrap pt-1 card-sub-text">فروش 7 روز اخیر (تومان)</span>
                {% if rounded_diff_7_invoice_amount > 0 %}
                    <span class="d-block text-nowrap pt-1 card-sub-text">7 روز گذشته <i class='bx bx-up-arrow-alt text-success'></i><span style="color: #30bd87;">{{ rounded_diff_7_invoice_amount }}%</span></span>
                {% else %}
                    <span class="d-block text-nowrap pt-1 card-sub-text">7 روز گذشته <i class='bx bx-down-arrow-alt text-danger'></i><span style="color: rgb(250 86 87) !important;">{{ rounded_diff_7_invoice_amount }}%</span></span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <h2 class="mb-n3 num card-stat-num">{{ last_30_days_invoice_amount }}</h2>
                <span class="d-block text-nowrap pt-1 card-sub-text">فروش 30 روز اخیر (تومان)</span>
                {% if rounded_diff_30_invoice_amount > 0 %}
                <span class="d-block text-nowrap pt-1 card-sub-text">30 روز گذشته <i class='bx bx-up-arrow-alt text-success'></i><span style="color: #30bd87;">{{ rounded_diff_30_invoice_amount }}%</span></span>
                {% else %}
                <span class="d-block text-nowrap pt-1 card-sub-text">30 روز گذشته <i class='bx bx-down-arrow-alt text-danger'></i><span style="color: rgb(250 86 87) !important;">{{ rounded_diff_30_invoice_amount }}%</span></span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <h2 class="mb-n3 num card-stat-num">{{ last_7_days_entry_total }}</h2>
                <span class="d-block text-nowrap pt-1 card-sub-text">ترافیک 7 روز اخیر</span>
                {% if rounded_diff_30_per > 0 %}
                <span class="d-block text-nowrap pt-1 card-sub-text">7 روز گذشته <i class='bx bx-up-arrow-alt text-success'></i><span style="color: #30bd87;">{{ rounded_diff_7_per }}%</span></span>
                {% else %}    
                <span class="d-block text-nowrap pt-1 card-sub-text">7 روز گذشته <i class='bx bx-down-arrow-alt text-danger'></i><span style="color: rgb(250 86 87) !important;">{{ rounded_diff_7_per }}%</span></span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-4">
        <div class="card h-100">
            <div class="card-body text-center"> 
                <h2 class="mb-n3 num card-stat-num">{{ last_30_days_entry_total }}</h2>
                <span class="d-block text-nowrap pt-1 card-sub-text">ترافیک 30 روز اخیر</span>
                {% if rounded_diff_30_per > 0 %}
                    <span class="d-block text-nowrap pt-1 card-sub-text">30 روز گذشته <i class='bx bx-up-arrow-alt text-success'></i><span style="color: #30bd87;">{{rounded_diff_30_per}}%</span></span>
                {% else %}    
                <span class="d-block text-nowrap pt-1 card-sub-text">30 روز گذشته <i class='bx bx-down-arrow-alt text-danger'></i><span style="color: rgb(250 86 87) !important;">{{rounded_diff_30_per}}%</span></span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- <div class="col-md-6 col-lg-6 col-xl-4 mb-4 mb-xl-0">
        <div class="card h-100">
        <div class="card-header">
            <h5 class="card-title mb-3">ترافیک کل 30 روز اخیر</h5>
            <h1 class="display-6 fw-normal mb-0 primary-font num">{{ last_30_days_entry_total }}</h1>
        </div>
        <div class="card-body">
            <ul class="p-0 m-0">
            {% if branch_30_day_ranks %}
            {% for rank in branch_30_day_ranks %}
            <li class="mb-3 d-flex justify-content-between">
                <div class="d-flex align-items-center me-3">
                <span class="badge badge-dot bg-primary me-2"></span> {{ rank.branch__name }}
                </div>
                <div class="d-flex gap-3">
                <span class="num">{{ rank.total_entry }}</span>
                <span class="fw-semibold">{{ rank.percent_thirty }}%</span>
                </div>
            </li>
            {% endfor %}
            {% endif %}
            </ul>
        </div>
        </div>
    </div> -->

    <div class="col-md-6 col-lg-6 col-xl-6 mb-4 mb-xl-0">
        <div class="card h-100">
            <div class="card-body">
                <div id="funnel-container"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-6 col-xl-6 mb-4 mb-xl-0">
        <div class="card h-100">
            <div class="card-body">
                <div id="30-day-pie-chart"></div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block extra_js %}
<!-- Price Separator Cobfiguration -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const nums = document.querySelectorAll(".num");
        nums.forEach((num) => {
        num.innerHTML = parseInt(num.textContent.replace(/,/g, ""), 10).toLocaleString("en-US")
        })
    })
</script>
<!-- HighChart JS -->
<script src="{% static 'assets/js/highcharts.js' %}"></script>
<script src="{% static 'assets/js/exporting.js' %}"></script>
<script src="{% static 'assets/js/export-data.js' %}"></script>
<script src="{% static 'assets/js/accessibility.js' %}"></script>
<script src="{% static 'assets/js/highcharts-funnel.js' %}"></script>
<!-- HighChart JS Funnel -->
<script>
// Assign Django variable to JS variable
const traffic = parseFloat('{{ last_30_days_entry_total }}') || 0;
const invoices = parseFloat('{{ last_30_days_invoice_number }}') || 0;
const sales = parseFloat('{{ last_30_days_invoice_amount }}') || 0;

// 30 Day Funnel
Highcharts.chart('funnel-container', {
    chart: {
        type: 'funnel'
    },
    title: {
        text: 'ترافیک و فاکتور 30 روز اخیر',
        style: {
            fontSize: '20px',
            color: '#333',
            fontFamily: 'Vazirmatn, sans-serif',
        }
    },
    plotOptions: {
        series: {
        dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b> ({point.y})',
            softConnector: true,
            style: {
                fontSize: '15px',
                color: '#333',
                fontFamily: 'Vazirmatn, sans-serif',
            }
        },
        center: ['50%', '50%'],
        neckWidth: '30%',
        width: '80%', 
        neckHeight: '10%',
        }
    },
    tooltip: {
        formatter: function () {
        if (this.point.sales) {
            return `<b>${this.point.name}</b>: ${Highcharts.numberFormat(this.point.y, 0, '.', ',')}<br/>فروش: ${Highcharts.numberFormat(this.point.sales, 0, '.', ',')}`;
        }
        return `<b>${this.point.name}</b>: ${Highcharts.numberFormat(this.point.y, 0, '.', ',')}`;
        },
        style: {
            fontSize: '15px',
            color: '#333',
            fontFamily: 'Vazirmatn, sans-serif',
        }
    },
    series: [{
        name: 'Users',
        data: [
            ['ترافیک', traffic],
            { name: 'فاکتور', y: invoices, sales: sales }
        ]
    }]
});
// 30 Day Traffic Pie Chart
Highcharts.chart('30-day-pie-chart', {
    chart: {
        type: 'pie',
        style: { fontFamily: 'Vazirmatn, sans-serif' }
    },
    title: {
        text: 'توزیع کل ترافیک شعب 30 روز اخیر',
        style: { fontSize: '20px', fontFamily: 'Vazirmatn, sans-serif' }
    },
    tooltip: {
        pointFormat: '<b>{point.y}</b> ({point.percentage:.1f}%)'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '{point.name}: ({point.percentage:.1f}%)',
                style: { fontSize: '14px', fontFamily: 'Vazirmatn, sans-serif' }
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'توزیع ترافیک شعب در 30 روز اخیر',
        colorByPoint: true,
        data: JSON.parse("{{ branch_30_days_traffic_share|escapejs }}")   
    }]
});
</script>
{% endblock %}