{% extends 'base.html' %}
{% load static %}
{% block title %}
       شمارنده فروش
{% endblock %}
{% block meta_description %}
	   شمارنده فروش
{% endblock %}
{% block extra_css %}
<!-- Style for Calendar, FlatPicker and Toastr -->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/fullcalendar/fullcalendar.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/libs/flatpickr/flatpickr.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/css/pages/app-calendar.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/libs/toastr/toastr.css' %}" />
<!-- Custom Style for FlatPicker Calendar -->
<style>
    .light-style .flatpickr-calendar {
    box-shadow: none !important;
    }
</style>
<!-- Custom Style for the Loading Overlay / Additional CSS -->
<style>
    .loading-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }
    .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .highcharts-credits {
        display: none;
    }
</style>
{% endblock %}
{% block content %}
<div class="loading-overlay" id="loading-overlay">
    <div class="loader"></div>
</div>
<div class="container">
    <div class="row">
        <!-- Date Accordion -->
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" style="margin-bottom: 10px;">
        <h6>تاریخ</h6>
        <div class="accordion mt-3 accordion-header-primary" id="accordionDate">
            <div class="card accordion-item">
            <h2 class="accordion-header d-flex align-items-center">
                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseDate" aria-expanded="true">
                <i class="menu-icon tf-icons bx bx-calendar"></i>
                انتخاب تاریخ
                </button>
            </h2>

            <div id="collapseDate" class="accordion-collapse collapse" data-bs-parent="#accordionDate">
                <div class="accordion-body" style="display: flex; justify-content: center; align-items: center; position: absolute; z-index: 1001; width: 100%; background-color: white; box-shadow: 0 0.25rem 1rem rgba(147, 158, 170, 0.45);">
                <div id="date-range"></div>
                </div>
            </div>
            </div>
        </div>              
        </div>
        <!-- Branch Accordion -->
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-bottom: 10px;">
        <h6>شعب</h6>
            <div class="accordion mt-3 accordion-header-primary" id="accordionBranch">
                <div class="card accordion-item">
                <h2 class="accordion-header d-flex align-items-center">
                    <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseBranch" aria-expanded="true">
                    <i class="menu-icon tf-icons bx bx-map-alt"></i>
                    انتخاب شعب
                    </button>
                </h2>
                <div id="collapseBranch" class="accordion-collapse collapse" data-bs-parent="#accordionBranch">
                    <div class="accordion-body" style="position: absolute; z-index: 999; width: 100%; background-color: white; box-shadow: 0 0.25rem 1rem rgba(147, 158, 170, 0.45);">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="select-all">
                            <label class="form-check-label" for="defaultCheck1">انتخاب همه</label>
                        </div>
                        {% for branch in branches %}
                        <div class="form-check">
                            <input class="form-check-input fake-check" type="checkbox" value="{{ branch.pk }}">
                            <label class="form-check-label" for="defaultCheck1">{{ branch.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>   
        </div>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12" style="margin-top: 20px; display: flex; justify-content: center; align-items: center;">
            <form action="" method="get" id="filter-form">
                <label style="display: none;" for="start-date">از تاریخ</label>
                <input type="text" name="start-date" id="start-date" style="display: none;">
                <label style="display: none;" for="end-date">تا</label>
                <input type="text" name="end-date" id="end-date" style="display: none;">
                {% for branch in branches %}
                <div class="form-check mt-3" style="display: none;">
                    <input class="form-check-input real-check" type="checkbox" value="{{ branch.pk }}" name="branch">
                    <label class="form-check-label" for="defaultCheck1">{{ branch.name }}</label>
                </div>
                {% endfor %}
                <button class="btn btn-primary btn-md" type="submit" id="filter-proxy-button">فیلتر</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="demo-inline-spacing mt-3">
            <div class="tab-content px-0 pt-2">
                <h6 id="instruction" style="display: none;">برای مشاهده مقایسه ای شعب باید یک یا چند شعبه انتخاب شوند.</h6>
                <!-- total amount aggregation -->
                <div id="container" style="width: 100%; height: 400px; margin-top: 45px;"></div>
                <!-- total amount aggregation by branches -->
                <div id="second-container" style="width: 100%; height: 400px; margin-top: 45px; display: none;"></div>
                <!-- total count aggregation -->
                <div id="third-container" style="width: 100%; height: 400px; margin-top: 45px;"></div>
                <!-- total count aggregation by branches -->
                <div id="forth-container" style="width: 100%; height: 400px; margin-top: 45px; display: none;"></div>
            </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 40px; display: none;" id="holiday-container">
        <small>تعطیلات و مناسبت ها</small>
        <div class="col-6">
            <div class="demo-inline-spacing mt-3" style="margin-bottom: 25px;">
                <ul class="list-group list-group-timeline">
                    <li class="list-group-item list-group-timeline-primary">
                        <span class="holiday-date" style="background-color: #5a8dee; border-radius: 5px; color: white; padding-left: 5px; padding-right: 5px; padding-top: 2.5px; padding-bottom: 2.5px; margin-left: 25px;">1404/04/01</span>
                        <span class="description">جمعه</span>
                    </li>
                </ul>
            </div>
            <button id="more-holidays-btn" style="display: none;" class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStart" aria-controls="offcanvasStart">
                        نمایش بیشتر
            </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel">
                <div class="offcanvas-header">
                    <ul class="list-group list-group-timeline">
                        
                    </ul>
                </div>
                <div class="offcanvas-body my-auto mx-0 flex-grow-0" style="margin-top: 0px !important;">
                    <div id="holiday-canvas" style="margin-bottom: 20px;">
                        <ul class="list-group list-group-timeline">
                        </ul>
                    </div>    
                    <button type="button" class="btn btn-label-secondary d-grid w-100" data-bs-dismiss="offcanvas">
                    بستن
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
        <h5 class="card-header heading-color">کمپین ها</h5>
        <div class="table-responsive text-nowrap" style="margin-bottom: 100px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th>نام کمپین</th>
                    <th>تاریخ شروع</th>
                    <th>تاریخ پایان</th>
                    <th>شعبه</th>
                    <th>نوع کمپین</th>
                    <th>هزینه</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                </tbody>
            </table>
        </div>
        </div>
    </div>
    <a href="{% url 'stats_menu' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}" class="btn btn-secondary btn-md"  id="return" style="margin-top: 25px;">بازگشت</a>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/jalaali-js/dist/jalaali.min.js"></script>
<!-- JQuery and Toastr Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'assets/vendor/libs/toastr/toastr.js' %}"></script>
<script src="{% static 'assets/js/ui-toasts.js' %}"></script>
<!-- HighChart JS -->
<script src="{% static 'assets/js/highcharts.js' %}"></script>
<script src="{% static 'assets/js/exporting.js' %}"></script>
<script src="{% static 'assets/js/export-data.js' %}"></script>
<script src="{% static 'assets/js/accessibility.js' %}"></script>
<!-- FlatPicker JS (Calendar) -->
<script src="{% static 'assets/vendor/libs/jdate/jdate.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
<script src="{% static 'assets/vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/l10n/fa-jdate.js' %}"></script>
<script src="{% static 'assets/js/app-calendar-events.js' %}"></script>
<script src="{% static 'assets/js/app-calendar.js' %}"></script>
<!-- FlatPicker (JS Calendar) Persian Configuration / Form Checks -->
<script src="{% static 'assets/js/persian-flatpicker-and-form-checks.js' %}"></script>
<!-- Holiday Spotter -->
<script>
    const holidayDates = []
    const fridays = []
    let timelineHolidays = []
     $("#filter-form").on("submit", function (e) {
        const events = [
            "جشن نوروز/جشن سال نو",
            "شب قدر",
            "عید سعید فطر",
            "روز جمهوری اسلامی",
            "تعطیل به مناسبت عید سعید فطر",
            "جشن سیزده به در",
            "شهادت امام جعفر صادق علیه السلام",
            "ولادت امام رضا علیه السلام",
            "رحلت حضرت امام خمینی",
            "شهادت امام محمد باقر علیه السلام",
            "قیام 15 خرداد",
            "عید سعید قربان",
            "عید سعید غدیر خم",
            "تاسوعای حسینی",
            "عاشورای حسینی",
            "اربعین حسینی",
            "رحلت رسول اکرم؛شهادت امام حسن مجتبی علیه السلام",
            "شهادت امام رضا علیه السلام",
            "شهادت امام حسن عسکری علیه السلام",
            "میلاد رسول اکرم و امام جعفر صادق علیه السلام",
            "شهادت حضرت فاطمه زهرا سلام الله علیها",
            "ولادت امام علی علیه السلام و روز پدر",
            "مبعث رسول اکرم (ص)",
            "ولادت حضرت قائم عجل الله تعالی فرجه و جشن نیمه شعبان",
            "شهادت حضرت علی علیه السلام",
            "روز ملی شدن صنعت نفت ایران"
        ];
        const startDate = $("#start-date").val();
        const endDate = $("#end-date").val();
        $.ajax({
            url: "/api/holiday-spot",
            data: {
                "start-date": startDate,
                "end-date": endDate
            },
            traditional: true,
            success: function (data) {
                console.log(data)
                data.forEach(item => {
                    if (item.descriptions[0] !== 'جمعه') {
                        holidayDates.push(item.date);
                    }
                });
                data.forEach(item => {
                    if (item.descriptions[0] === 'جمعه') {
                        fridays.push(item.date);
                    }
                });
                timelineHolidays = data;
                if (timelineHolidays.length > 0) {
                    timelineHolidays.forEach(item => {
                        item.descriptions = item.descriptions.filter(i => events.includes(i));
                        if (item.descriptions.length > 1) {
                            item.descriptions.length = 1;
                        }
                    });
                }
                timelineHolidays = timelineHolidays.filter(i => i.descriptions.length > 0)
                console.log(timelineHolidays)
                const holidayContainer = document.querySelector("#holiday-container");
                const moreHolidaysBtn = document.querySelector("#more-holidays-btn");
                if (timelineHolidays.length > 0) {
                    holidayContainer.style.display = "";
                } else {
                    holidayContainer.style.display = "none";
                }
                if (timelineHolidays.length > 5) {
                    moreHolidaysBtn.style.display = "";
                } else {
                    moreHolidaysBtn.style.display = "none";
                }
                document.querySelector(".list-group-timeline").innerHTML = "";
                timelineHolidays.slice(0, 3).forEach(i => {
                    if (i.descriptions.length !== 0) {
                        const rowhtml = `
                        <li class="list-group-item list-group-timeline-primary">
                            <span class="holiday-date" style="background-color: #5a8dee; border-radius: 5px; color: white; padding-left: 5px; padding-right: 5px; padding-top: 2.5px; padding-bottom: 2.5px; margin-left: 25px;">${i.date}</span>
                            <span class="description">${i.descriptions[0]}</span>
                        </li> 
                        `
                        document.querySelector(".list-group-timeline").insertAdjacentHTML("beforeend", rowhtml);
                    } 
                });
                document.querySelectorAll(".list-group-timeline")[1].innerHTML = "";
                timelineHolidays.forEach(i => {
                    if (i.descriptions.length !== 0) {
                        const rowhtml = `
                        <li class="list-group-item list-group-timeline-primary">
                            <span class="holiday-date" style="background-color: #5a8dee; border-radius: 5px; color: white; padding-left: 5px; padding-right: 5px; padding-top: 2.5px; padding-bottom: 2.5px; margin-left: 25px;">${i.date}</span>
                            <span class="description">${i.descriptions[0]}</span>
                        </li> 
                        `
                        document.querySelectorAll(".list-group-timeline")[1].insertAdjacentHTML("beforeend", rowhtml);
                    }
                });
            }
        });
    });
</script>
<!-- HighChart Chart Paint (Invoice Aggregation) Raw JavaScript -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const rawCategories = JSON.parse('{{ dates|safe }}');  
        const categories = rawCategories.map(dateStr => {
            const date = new Date(dateStr);
            return date.toLocaleDateString('fa-IR', {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit'
            });
        });

        const total_amount = JSON.parse('{{ total_amount|safe }}');
        lineChart = Highcharts.chart(
            'container', {
                chart: {
                    type: 'line',
                    backgroundColor: '#f9f9f9',
                    style: {
                        fontFamily: 'tahoma',
                        fontSize: '20px'
                    }
                },
                title: {
                    text: "فروش",
                    style: {
                        fontSize: '25px',
                        color: '#333'
                    }
                },
                xAxis: {
                    categories : categories,
                    title: {
                        text: "تاریخ",
                        style: {
                        fontSize: '20px',
                        fontWeight: 'bold'
                        }
                    },
                    labels: {
                        useHTML: true,  
                        formatter: function () {
                                const value = this.value; 
                                if (holidayDates.includes(value)) {
                                    return `<span style="color:#ED4221; font-weight:bold;">${value}</span>`;
                                }
                                    return value; 
                            }
                        } 
                },
                yAxis: {
                    title: {
                        text: "فروش",
                        style: {
                        fontSize: '20px',
                        fontWeight: 'bold'
                        }
                    }
                },
                plotOptions: {
                    series: {
                        point: {
                            events: {
                                click: function () {
                                    const apiUrl = "/api/get-campaign-each-point";
                                    const date = this.category;
                                    const branch = this.series.name;
                                    const body = document.querySelector("body");
                                    const infoModal = document.querySelector("#info-modal");
                                    console.log(date, branch)
                                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                                    fetch(apiUrl, {
                                        method: "POST",
                                        headers: {
                                            "Content-Type": "application/json",
                                            "X-CSRFToken": csrftoken,
                                        },
                                        body: JSON.stringify({date: date, branch: branch.replace(/\(.*?\)/, "").trim()})
                                    }).then(response => {
                                        if (!response.ok) throw new Error("Invalid Response");
                                        return response.json()
                                    }).then(data => {
                                        console.log(data)
                                        const rawNum = Number(this.y);
                                        const num = rawNum.toLocaleString("fa-IR");
                                        let htmlCampaigns = data.map((camp, index) =>
                                            `<p style='margin-bottom: 0px;' style='margin-bottom: 0px; margin-top: 0px;'>${index + 1}. ${camp.campaign_name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${camp.campaign_type}</p>`
                                        ).join('')
                                        if (data.length === 0) {
                                            htmlCampaigns = `<p>هیچ کمپینی یافت نشد.</p>`
                                        }
                                        Swal.fire({
                                        html: `<h3 style='margin-bottom: 0px;'>${num}</h3><p>${this.category}</p>
                                        <p style='margin-bottom: 0px;'>کمپین ها:</p>
                                        ${htmlCampaigns}
                                        `,
                                        confirmButtonText: 'بستن',
                                        confirmButtonColor: '#5a8dee'
                                    });
                                    })

                                }
                            }
                        }
                    }
                },
                series: [
                    {
                        name: "مبلغ فاکتور",
                        data: total_amount
                    },
                ]
            }
        );

        const total_items = JSON.parse('{{ total_items|safe }}');
        thirdLineChart = Highcharts.chart(
            'third-container', {
                chart: {
                    type: 'line',
                    backgroundColor: '#f9f9f9',
                    style: {
                        fontFamily: 'tahoma',
                        fontSize: '20px'
                    }
                },
                title: {
                    text: "تعداد فاکتور",
                    style: {
                        fontSize: '25px',
                        color: '#333'
                    }
                },
                xAxis: {
                    categories : categories,
                    title: {
                        text: "تاریخ",
                        style: {
                        fontSize: '20px',
                        fontWeight: 'bold'
                        }
                    },
                    labels: {
                        useHTML: true,  
                        formatter: function () {
                                const value = this.value; 
                                if (holidayDates.includes(value)) {
                                    return `<span style="color:#ED4221; font-weight:bold;">${value}</span>`;
                                }
                                if (fridays.includes(value)) {
                                        return `<span style="color:#6db076; font-weight:bold;">${value}</span>`;
                                }
                                return value; 
                            }
                        } 
                },
                yAxis: {
                    title: {
                        text: "تعداد فاکتور",
                        style: {
                        fontSize: '20px',
                        fontWeight: 'bold'
                        }
                    }
                },
                plotOptions: {
                    series: {
                        point: {
                            events: {
                                click: function () {
                                    const apiUrl = "/api/get-campaign-each-point";
                                    const date = this.category;
                                    const branch = this.series.name;
                                    const body = document.querySelector("body");
                                    const infoModal = document.querySelector("#info-modal");
                                    console.log(date, branch)
                                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                                    fetch(apiUrl, {
                                        method: "POST",
                                        headers: {
                                            "Content-Type": "application/json",
                                            "X-CSRFToken": csrftoken,
                                        },
                                        body: JSON.stringify({date: date, branch: branch.replace(/\(.*?\)/, "").trim()})
                                    }).then(response => {
                                        if (!response.ok) throw new Error("Invalid Response");
                                        return response.json()
                                    }).then(data => {
                                        console.log(data)
                                        let htmlCampaigns = data.map((camp, index) =>
                                            `<p style='margin-bottom: 0px;' style='margin-bottom: 0px; margin-top: 0px;'>${index + 1}. ${camp.campaign_name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${camp.campaign_type}</p>`
                                        ).join('')
                                        if (data.length === 0) {
                                            htmlCampaigns = `<p>هیچ کمپینی یافت نشد.</p>`
                                        }
                                        Swal.fire({
                                        html: `<h3 style='margin-bottom: 0px;'>${this.y}</h3><p>${this.category}</p>
                                        <p style='margin-bottom: 0px;'>کمپین ها:</p>
                                        ${htmlCampaigns}
                                        `,
                                        confirmButtonText: 'بستن',
                                        confirmButtonColor: '#5a8dee'
                                    });
                                    })

                                }
                            }
                        }
                    }
                },
                series: [
                    {
                        name: "تعداد فاکتور",
                        data: total_items
                    },
                ]
            }
        );
        
        document.getElementById('filter-form').addEventListener('submit', function(event) {
            event.preventDefault(); 
            const form = this;
            const formData = new FormData(form);
            const queryString = new URLSearchParams(formData).toString();
            const loadingOverlay = document.getElementById('loading-overlay');
            loadingOverlay.style.display = 'flex';
        
            fetch(`{% url 'invoice_counter' url_hash=request.user.profile.merchant.url_hash %}?${queryString}`, {
                method: 'GET',
                headers: { 'X-Requested-With': 'XMLHttpRequest' }
            })
            .then(response => {
                if (!response.ok) throw new Error('Network response was not ok');
                return response.json();
            })
            .then(data => {
                const totalAmount = data.total_amount.reduce((a, b) => a + b, 0);
                const newCategories = data.dates.map(dateStr => {
                    const date = new Date(dateStr);
                    return date.toLocaleDateString('fa-IR', {
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit'
                    });
                });

                lineChart.update({
                    xAxis: { 
                        categories: newCategories, 
                        labels: {
                            useHTML: true,  
                            formatter: function () {
                                    const value = this.value; 
                                    if (holidayDates.includes(value)) {
                                        return `<span style="color:#ED4221; font-weight:bold;">${value}</span>`;
                                    }
                                    if (fridays.includes(value)) {
                                        return `<span style="color:#6db076; font-weight:bold;">${value}</span>`;
                                    }
                                    return value; 
                                }
                            } 
                    },
                    series: [{name: `فروش (${Number(totalAmount).toLocaleString('fa-IR')})`, data: data.total_amount}
                    ],
                });

                thirdLineChart.update({
                    xAxis: { 
                        categories: newCategories,
                        labels: {
                            useHTML: true,  
                            formatter: function () {
                                    const value = this.value; 
                                    if (holidayDates.includes(value)) {
                                        return `<span style="color:#ED4221; font-weight:bold;">${value}</span>`;
                                    }
                                    if (fridays.includes(value)) {
                                        return `<span style="color:#6db076; font-weight:bold;">${value}</span>`;
                                    }
                                    return value; 
                                }
                            } 
                    },
                    series: [{ data: data.total_items }]
                });
                
                document.querySelector(".table-border-bottom-0").innerHTML = "";
                data.campaigns.forEach(campaign => {
                const rowhtml = `
                    <tr>
                        <td>
                            ${campaign.campaign_name} 
                        </td>
                        <td class="greg-date">
                            ${campaign.campaign_start_date}
                        </td>
                        <td class="greg-date">
                            ${campaign.campaign_end_date}
                        </td>
                        <td>
                            ${campaign.campaign_branch_name}
                        </td>
                        <td>
                            ${campaign.campaign_type}
                        </td>
                        <td class="campaign-cost">
                            ${campaign.campaign_cost}
                        </td>
                    </tr>
                    `
                document.querySelector(".table-border-bottom-0").insertAdjacentHTML("beforeend", rowhtml);
                });

                loadingOverlay.style.display = 'none';
                function jalaliDateConvertor() {
                document.querySelectorAll(".greg-date").forEach(el => {
                    const gregorian = el.innerHTML.split("-");
                    const gYear = parseInt(gregorian[0]);
                    const gMonth = parseInt(gregorian[1]);
                    const gDay = parseInt(gregorian[2]);
                    const jdate = jalaali.toJalaali(gYear, gMonth, gDay);
                    el.innerText = `${jdate.jy}/${String(jdate.jm).padStart(2, '0')}/${String(jdate.jd).padStart(2, '0')}`;
                    });
                }
                document.querySelectorAll(".campaign-cost").forEach(el => {
                    const cost = Number(el.innerText);
                    const separatedCost = cost.toLocaleString('fa-IR');
                    el.innerText = separatedCost;
                })
                setTimeout(jalaliDateConvertor, 500)
            })
            .catch(error => {
                console.error('Error:', error);
                loadingOverlay.style.display = 'none';
            });
        });
    });
    
    document.getElementById("select-all").addEventListener("change", () => {
        const isChecked = document.getElementById("select-all").checked;
        document.querySelectorAll(".fake-check").forEach((item) => {
            item.checked = isChecked
        })
    })
</script>
<!-- HighChart Chart Paint (Invoice Separation) JQuery -->
<script>
    $("#filter-form").on("submit", function (e) {
        const startDate = $("#start-date").val();
        const endDate = $("#end-date").val();
        const selectedBranches = $(".real-check:checked").map(function () {
            return $(this).val();
        }).get();
        const form = document.querySelector("#filter-form");
        const formData = new FormData(form);
        const startDateUrl = formData.get("start-date");
        const branchUrl = formData.getAll("branch");
        if (!startDateUrl || startDateUrl.trim() === "") {
            Swal.fire({
            icon: "error",
            title: "خطا",
            text: "بازه زمانی مورد نظر را وارد کنید",
            confirmButtonColor: '#5a8dee',
            confirmButtonText: 'بستن' 
            });
            return;
        }
        if (document.getElementById("container").style.display !== "none" && document.getElementById("third-container").style.display !== "none" && selectedBranches.length === 0 && startDate) {
            toastr.options = {
                positionClass: 'toast-top-center',
            }
            toastr.warning("هیچ شعبه ای انتخاب نشد");
            toastr.warning("همه شعب به صورت پیش فرض در نمودار نمایش داده میشوند");
            document.querySelector("#select-all").checked = true;
            document.querySelectorAll(".fake-check").forEach((el) => {
                el.checked = true; 
            });
        }
        if (document.getElementById("second-container").style.display !== "none" && document.getElementById("forth-container").style.display !== "none" && branchUrl.length === 0) {
            Swal.fire({
            icon: "error",
            title: "خطا",
            text: "برای نمایش این قسمت باید حداقل یک فروشگاه انتخاب شود (کمپین ها بر اساس تاریخ و شعب نمایش داده میشوند)",
            confirmButtonColor: '#5a8dee',
            confirmButtonText: 'بستن' 
            });
        }
        $.ajax({
            url: "/api/multi-branch-invoice-data",
            data: {
                "start-date": startDate,
                "end-date": endDate,
                "branch": selectedBranches
            },
            traditional: true, 
            success: function (data) {
                const rawCategories = data.dates;
                const categories = rawCategories.map(dateStr => {
                const date = new Date(dateStr);
                return date.toLocaleDateString('fa-IR', {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit'
                });
                });
                const series = Object.entries(data.invoice_data).map(([id, invoiceData]) => {
                    const totalSAmount = invoiceData.total_amounts.reduce((a, b) => a + b, 0);
                    return {
                    name: `${invoiceData.name} (${Number(totalSAmount).toLocaleString('fa-IR')})`,
                    data: invoiceData.total_amounts
                    }
                });
                Highcharts.chart("second-container", {
                    chart: { type: "line",
                        backgroundColor: '#f9f9f9',
                        style: {
                            fontFamily: 'tahoma',
                            fontSize: '20px'
                        }
                        },
                    title: { text: "مقایسه فروش شعب",
                        style: {
                            fontSize: '25px',
                            color: '#333'
                        } 
                    },
                    xAxis: { categories,
                        title: {
                        text: "تاریخ",
                        style: {
                        fontSize: '20px',
                        fontWeight: 'bold'
                        }
                    },
                    labels: {
                        useHTML: true,  
                        formatter: function () {
                                const value = this.value; 
                                if (holidayDates.includes(value)) {
                                    return `<span style="color:#ED4221; font-weight:bold;">${value}</span>`;
                                }
                                if (fridays.includes(value)) {
                                    return `<span style="color:#6db076; font-weight:bold;">${value}</span>`;
                                }
                                return value; 
                            }
                        } 
                    },
                    yAxis: { title: { text: "فروش",
                        style: {
                            fontSize: '20px',
                            fontWeight: 'bold'
                            } 
                        } 
                    },
                    series: series,
                    plotOptions: {
                        series: {
                            point: {
                                events: {
                                    click: function () {
                                        const apiUrl = "/api/get-campaign-each-point";
                                        const date = this.category;
                                        const branch = this.series.name;
                                        const body = document.querySelector("body");
                                        const infoModal = document.querySelector("#info-modal");
                                        console.log(date, branch)
                                        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                                        fetch(apiUrl, {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json",
                                                "X-CSRFToken": csrftoken,
                                            },
                                            body: JSON.stringify({date: date, branch: branch.replace(/\(.*?\)/, "").trim()})
                                        }).then(response => {
                                            if (!response.ok) throw new Error("Invalid Response");
                                            return response.json()
                                        }).then(data => {
                                            console.log(data)
                                            let htmlCampaigns = data.map((camp, index) =>
                                                `<p style='margin-bottom: 0px;' style='margin-bottom: 0px; margin-top: 0px;'>${index + 1}. ${camp.campaign_name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${camp.campaign_type}</p>`
                                            ).join('')
                                            if (data.length === 0) {
                                                htmlCampaigns = `<p>هیچ کمپینی یافت نشد.</p>`
                                            }
                                            Swal.fire({
                                            html: `<h3 style='margin-bottom: 0px;'>${this.y}</h3><p style='margin-bottom: 0px; margin-top: 0px;'>${this.series.name}</p><p style='margin-top: 0px;'>${this.category}</p>
                                            <p style='margin-bottom: 0px;'>کمپین ها:</p>
                                            ${htmlCampaigns}
                                            `,
                                            confirmButtonText: 'بستن',
                                            confirmButtonColor: '#5a8dee'
                                        });
                                        })

                                    }
                                }
                            }
                        }
                    }
                });
            },
            error: function (xhr) {
                console.error("Error loading data");
            }
        });
        $.ajax({
            url: "/api/multi-branch-invoice-data",
            data: {
                "start-date": startDate,
                "end-date": endDate,
                "branch": selectedBranches
            },
            traditional: true, 
            success: function (data) {
                const rawCategories = data.dates;
                const categories = rawCategories.map(dateStr => {
                const date = new Date(dateStr);
                return date.toLocaleDateString('fa-IR', {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit'
                });
                });
                const series = Object.entries(data.invoice_data).map(([id, invoiceData]) => ({
                    name: invoiceData.name,
                    data: invoiceData.total_items
                }));
                Highcharts.chart("forth-container", {
                    chart: { type: "line",
                        backgroundColor: '#f9f9f9',
                        style: {
                            fontFamily: 'tahoma',
                            fontSize: '20px'
                        }
                        },
                    title: { text: "مقایسه تعداد فاکتور شعب",
                        style: {
                            fontSize: '25px',
                            color: '#333'
                        } 
                    },
                    xAxis: { categories,
                        title: {
                        text: "تاریخ",
                        style: {
                        fontSize: '20px',
                        fontWeight: 'bold'
                        }
                    },
                    labels: {
                        useHTML: true,  
                        formatter: function () {
                                const value = this.value; 
                                if (holidayDates.includes(value)) {
                                    return `<span style="color:#ED4221; font-weight:bold;">${value}</span>`;
                                }
                                if (fridays.includes(value)) {
                                        return `<span style="color:#6db076; font-weight:bold;">${value}</span>`;
                                }
                                return value; 
                            }
                        } 
                    },
                    yAxis: { title: { text: "تعداد فاکتور",
                        style: {
                            fontSize: '20px',
                            fontWeight: 'bold'
                            } 
                        } 
                    },
                    series: series,
                    plotOptions: {
                        series: {
                            point: {
                                events: {
                                    click: function () {
                                        const apiUrl = "/api/get-campaign-each-point";
                                        const date = this.category;
                                        const branch = this.series.name;
                                        const body = document.querySelector("body");
                                        const infoModal = document.querySelector("#info-modal");
                                        console.log(date, branch)
                                        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                                        fetch(apiUrl, {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json",
                                                "X-CSRFToken": csrftoken,
                                            },
                                            body: JSON.stringify({date: date, branch: branch})
                                        }).then(response => {
                                            if (!response.ok) throw new Error("Invalid Response");
                                            return response.json()
                                        }).then(data => {
                                            console.log(data)
                                            let htmlCampaigns = data.map((camp, index) =>
                                                `<p style='margin-bottom: 0px;' style='margin-bottom: 0px; margin-top: 0px;'>${index + 1}. ${camp.campaign_name}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${camp.campaign_type}</p>`
                                            ).join('')
                                            if (data.length === 0) {
                                                htmlCampaigns = `<p>هیچ کمپینی یافت نشد.</p>`
                                            }
                                            Swal.fire({
                                            html: `<h3 style='margin-bottom: 0px;'>${this.y}</h3><p style='margin-bottom: 0px; margin-top: 0px;'>${this.series.name}</p><p style='margin-top: 0px;'>${this.category}</p>
                                            <p style='margin-bottom: 0px;'>کمپین ها:</p>
                                            ${htmlCampaigns}
                                            `,
                                            confirmButtonText: 'بستن',
                                            confirmButtonColor: '#5a8dee'
                                        });
                                        })

                                    }
                                }
                            }
                        }
                    }
                });
            },
            error: function (xhr) {
                console.error("Error loading data");
            }
        });
    });
</script>
<!-- Display Toggles -->
<script>
    const queryString = window.location.search; 
    const urlParams = new URLSearchParams(queryString);
    const type = urlParams.get("type")
    document.addEventListener("DOMContentLoaded", () => {
        const secondContainer = document.querySelector("#second-container");
        const thirdContainer = document.querySelector("#third-container");
        const forthContainer = document.querySelector("#forth-container");
        const intruction = document.querySelector("#instruction");
        if (type === "1") {
            container.style.display = "block";
            thirdContainer.style.display = "block";
            secondContainer.style.display = "none";
            forthContainer.style.display = "none";
            intruction.style.display = "none";
        }
        else {
            container.style.display = "none";
            thirdContainer.style.display = "none";
            secondContainer.style.display = "block";
            forthContainer.style.display = "block";
            intruction.style.display = "block";
        }
    });
</script>
<!-- Gregorian Jalali Conversion Raw JavaScript -->
<script src="{% static 'assets/js/campaign-gregorian-to-jalali-date-convert.js' %}"></script>
<!-- Sweet Alert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Button Collapse -->
<script src="{% static 'assets/js/accordion-collapse-toggle.js' %}"></script>
<!-- Button Color and Background -->
 <script src="{% static 'assets/js/accordion-color-and-background.js' %}"></script>
{% endblock %}




