{% extends 'base.html' %}
{% load static %}
{% block title %}
    مشاهده اطلاعات فروش
{% endblock %}
{% block meta_description %}
	  مشاهده اطلاعات فروش
{% endblock %}
{% block extra_css %}
<!-- Style for Calendar, FlatPicker and Toastr -->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/fullcalendar/fullcalendar.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/libs/flatpickr/flatpickr.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/css/pages/app-calendar.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/libs/toastr/toastr.css' %}" />
<!-- Custom Style for FlatPicker Calendar -->
<style>
    .light-style .flatpickr-calendar {
    box-shadow: none !important;
    }
</style>
<!-- Custom Style for the Loading Overlay / Additional CSS -->
<style>
    .loading-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }
    .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .highcharts-credits {
        display: none;
    }

    .demo-inline-spacing > * {
        margin: 0px !important;
    }
    .box {
        height: 25vh;  
        overflow-y: auto;
    }
</style>
{% endblock %}
{% block content %}
<div class="loading-overlay" id="loading-overlay"></div>
<div class="container">
  <div class="row">
    <!-- Date Picker Card -->
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 10px;">
        <h1 style="color: #262626; font-size: 1.38rem; font-weight: 700;">مشاهده اطلاعات فروش</h1>
    </div>
    <div class="col-xl-3 col-lg-2 col-md-12 col-sm-12" style="margin-bottom: 10px;">
        <h1 style="color: #262626; font-size: 1.125rem; font-weight: 700;">گزارش بر اساس:</h1>
    </div>
    <div class="col-xl-3 col-lg-2 col-md-12 col-sm-12" style="margin-bottom: 10px;">
        <small>بازه زمانی گزارش و شعب</small>
        <div class="card mt-3">
            <div class="card-body" style="padding: 0px !important;">
                <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#dateModal" style="border: none; color: black; background-color: #ccdbf1;">
                    <i class="menu-icon tf-icons bx bx-filter"></i>
                    فیلتر
                </button>
            </div>
        </div>
    </div>
    <!-- Date Picker Modal -->
    <div class="modal fade" id="dateModal" tabindex="-1" aria-labelledby="dateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dateModalLabel">بازه زمانی گزارش</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
                </div>
                <div class="modal-body" style="display: flex; justify-content: center; align-items: center;">
                    <!-- Your date range picker goes here -->
                    <div id="date-range"></div>
                </div>
                <div class="modal-footer">
                    <button 
                        type="button" 
                        class="btn btn-primary" 
                        id="confirmDateBtn">
                        بعدی
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Branch Selector Card -->
    <!-- Branch Selector Modal -->
    <div class="modal fade" id="branchModal" tabindex="-1" aria-labelledby="branchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="branchModalLabel">انتخاب شعب</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
                </div>
                <div class="modal-body">
                    <div class="branches-grid">
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" id="select-all">
                        <label class="form-check-label" for="select-all">انتخاب همه</label>
                    </div>
                    {% for branch in branches %}
                    <div class="form-check mt-2">
                        <input class="form-check-input fake-check" type="checkbox" value="{{ branch.pk }}" id="branch-{{ branch.pk }}">
                        <label class="form-check-label" for="branch-{{ branch.pk }}">{{ branch.name }}</label>
                    </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">قبلی</button>
                    <form action="" method="get" id="filter-form">
                        <label style="display: none;" for="start-date">از تاریخ</label>
                        <input type="text" name="start-date" id="start-date" style="display: none;">
                        <label style="display: none;" for="end-date">تا</label>
                        <input type="text" name="end-date" id="end-date" style="display: none;">
                        {% for branch in branches %}
                        <div class="form-check mt-3" style="display: none;">
                            <input class="form-check-input real-check" type="checkbox" value="{{ branch.pk }}" name="branch">
                            <label class="form-check-label" for="defaultCheck1">{{ branch.name }}</label>
                        </div>
                        {% endfor %}
                        <button class="btn btn-primary btn-md" type="submit" id="filter-proxy-button" data-bs-dismiss="modal">فیلتر</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row" style="margin-top: 40px;">
    <div class="card">
      <div class="table-responsive text-nowrap" style="margin-bottom: 100px; margin-top: 50px;">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>تاریخ میلادی</th>
              <th>تاریخ شمسی</th>
              <th>کد شعبه</th>
              <th>نام شعبه</th>
              <th>تعداد فاکتور</th>
              <th>مبلغ فاکتور</th>
              <th>ویرایش</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for invoice in invoices %}
            <tr>
                <td>
                    {{ invoice.date|date:"Y-m-d" }} 
                </td>
                <td class="greg-date">
                    {{ invoice.date|date:"Y-m-d" }}
                </td>
                <td>
                    {{ invoice.branch.pk }}
                </td>
                <td>
                    {{ invoice.branch.name }}
                </td>
                <td>
                    {{ invoice.total_items }}
                </td>
                <td>
                    {{ invoice.total_amount }}
                </td>
                <td>
                <a href="{% url 'invoice_detail' invoice_pk=invoice.pk %}"><i class="bx bx-edit"></i></a>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/jalaali-js/dist/jalaali.min.js"></script>
<!-- JQuery and Toastr Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'assets/vendor/libs/toastr/toastr.js' %}"></script>
<script src="{% static 'assets/js/ui-toasts.js' %}"></script>
<!-- FlatPicker JS (Calendar) -->
<script src="{% static 'assets/vendor/libs/jdate/jdate.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
<script src="{% static 'assets/vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/l10n/fa-jdate.js' %}"></script>
<script src="{% static 'assets/js/app-calendar-events.js' %}"></script>
<script src="{% static 'assets/js/app-calendar.js' %}"></script>
<!-- FlatPicker (JS Calendar) Persian Configuration / Form Checks -->
<script src="{% static 'assets/js/persian-flatpicker-and-form-checks.js' %}"></script>
<!-- Dynamic Ajax Filter (Invoice Rows) / Gregorian Jalali Conversion Raw JavaScript -->
<script>
    document.getElementById("filter-form").addEventListener("submit", (event) => {
      event.preventDefault();
      const form = document.getElementById("filter-form");
      const formData = new FormData(form);
      const queryString = new URLSearchParams(formData).toString();
      const loadingOverlay = document.getElementById("loading-overlay");
      loadingOverlay.style.display = "flex";
      const startDateUrl = formData.get("start-date");
      const branchUrl = formData.getAll("branch");
      const selectedBranches = $(".real-check:checked").map(function () {
            return $(this).val();
        }).get();
      if (!startDateUrl || startDateUrl.trim() === "") {
          Swal.fire({
          icon: "error",
          title: "خطا",
          text: "بازه زمانی مورد نظر را وارد کنید",
          confirmButtonColor: '#5a8dee',
          confirmButtonText: 'بستن' 
          });
          loadingOverlay.style.display = "none";
          return;
      }
      if (selectedBranches.length === 0 && startDateUrl) {
          toastr.options = {
              positionClass: 'toast-top-center',
          }
          toastr.warning("هیچ شعبه ای انتخاب نشد");
          toastr.warning("همه شعب به صورت پیش فرض نمایش داده میشوند");
          document.querySelector("#select-all").checked = true;
          document.querySelectorAll(".fake-check").forEach((el) => {
              el.checked = true; 
          });
          loadingOverlay.style.display = "none";
      }
      fetch(`{% url 'invoices' url_hash=request.user.profile.merchant.url_hash %}?${queryString}`, {
        method: "GET",
        headers: {"X-Requested-With": "XMLHttpRequest"}
      })
      .then(response => {
          if (!response.ok) throw new Error('Network response was not ok');
          console.log("data is recieved")
          loadingOverlay.style.display = "none";
          return response.json()
      })
      .then( data => {
        document.querySelector(".table-border-bottom-0").innerHTML = "";
        data.invoices.forEach(invoice => {
        const rowhtml = `
                <tr>
                    <td>
                        ${invoice.date} 
                    </td>
                    <td class="greg-date">
                        ${invoice.date}
                    </td>
                    <td>
                        ${invoice.branch_id}
                    </td>
                    <td>
                        ${invoice.branch_name}
                    </td>
                    <td>
                        ${invoice.total_items}
                    </td>
                    <td class="price">
                        ${invoice.total_amount}
                    </td>
                    <td>
                    <a href="invoice-detail/${invoice.id}"><i class="bx bx-edit"></i></a>
                    </td>
                </tr>
                `
        document.querySelector(".table-border-bottom-0").insertAdjacentHTML("beforeend", rowhtml);
        })},
      )      
      .catch((error) => {
        console.log("Error:", error);
        loadingOverlay.style.display = "none";
      }
      );
      function jalaliDateConvertor() {
        document.querySelectorAll(".greg-date").forEach(el => {
        console.log(el)
        const gregorian = el.innerHTML.split("-");
        const gYear = parseInt(gregorian[0]);
        const gMonth = parseInt(gregorian[1]);
        const gDay = parseInt(gregorian[2]);
        const jdate = jalaali.toJalaali(gYear, gMonth, gDay);
        el.innerText = `${jdate.jy}/${String(jdate.jm).padStart(2, '0')}/${String(jdate.jd).padStart(2, '0')}`;
        });
      }
      function priceSeparator() {
        document.querySelectorAll(".price").forEach(el => {
            const rowPrice = Number(el.innerText.trim());
            el.innerText = rowPrice.toLocaleString("fa-IR");
        })
      }
      setTimeout(jalaliDateConvertor, 500);
      setTimeout(priceSeparator, 500);
    });
    document.getElementById("select-all").addEventListener("change", () => {
        const isChecked = document.getElementById("select-all").checked;
        document.querySelectorAll(".fake-check").forEach((item) => {
            item.checked = isChecked
        })
    })
</script>
<!-- Sweet Alert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Date and Branch Modal Configuration -->
<script>
    document.getElementById("confirmDateBtn").addEventListener("click", function () {
    // Close the date modal
    var dateModal = bootstrap.Modal.getInstance(document.getElementById("dateModal"));
    dateModal.hide();

    // When it's fully hidden, open the branch modal
    document.getElementById("dateModal").addEventListener("hidden.bs.modal", function () {
        var branchModal = new bootstrap.Modal(document.getElementById("branchModal"));
        branchModal.show();
    }, { once: true });
    });

    document.querySelector(".btn-secondary").addEventListener("click", function () {
    // Close the date modal
    var dateModal = bootstrap.Modal.getInstance(document.getElementById("branchModal"));
    dateModal.hide();

    // When it's fully hidden, open the date modal
    document.getElementById("branchModal").addEventListener("hidden.bs.modal", function () {
        var branchModal = new bootstrap.Modal(document.getElementById("dateModal"));
        branchModal.show();
    }, { once: true });
    });
</script>
<!-- Button Color and Background -->
<script src="{% static 'assets/js/accordion-color-and-background.js' %}"></script>
{% endblock %}


