{% extends 'base.html' %}
{% load static %}
{% block title %}
	شمارشگر
{% endblock %}
{% block meta_description %}
	شمارشگر
{% endblock %}
{% block content %}
    <h6>انتخاب تاریخ شروع و پایان</h6>
    <div class="calendar-container">
    <div class="calendar-box">
        <p>تاریخ شروع</p>
        <div id="calendar-start"></div>
    </div>
    <div class="calendar-box">
        <p>تاریخ پایان</p>
        <div id="calendar-end"></div>
    </div>
    </div><br>
    <form action="" method="get" style="display: none;">
        <label for="branch">شعبه</label><br>
        <input type="text" name="branch" id="branch"><br>
        <label for="start-date">از تاریخ</label><br>
        <input type="text" name="start-date" id="start-date"><br>
        <label for="end-date">تا</label><br>
        <input type="text" name="end-date" id="end-date"><br>
        <button type="submit">اعمال فیلتر</button>
    </form>
    <div id="container" style="width: 100%; height: 400px;"></div>
{% endblock %}
