{% extends 'base.html' %}
{% load static %}
{% block title %}
	شمارشگر
{% endblock %}
{% block meta_description %}
	شمارشگر
{% endblock %}
{% block content %}
    <h6>شمارشگر</h6>
    <div class="loading-overlay" id="loading-overlay">
        <div class="loader"></div>
    </div>
    <div class="calendar-container">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12" style="margin-bottom: 10px;">
                <h6>تاریخ</h6>
                <div class="accordion mt-3 accordion-header-primary" id="accordionWithIcon">
                    <div class="card accordion-item">
                      <h2 class="accordion-header d-flex align-items-center">
                        <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionWithIcon-1" aria-expanded="true">
                          <i class="menu-icon tf-icons bx bx-calendar"></i>
                            انتخاب تاریخ
                        </button>
                      </h2>

                      <div id="accordionWithIcon-1" class="accordion-collapse collapse">
                        <div class="accordion-body" style="display: flex; justify-content: center; align-items: center;">
                        <div id="date-range"></div>
                        </div>
                      </div>
                    </div>
                  </div>              
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 10px;">
                <h6>شعب</h6>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" id="select-all">
                    <label class="form-check-label" for="defaultCheck1">انتخاب همه</label>
                </div>
                {% for branch in branches %}
                <div class="form-check mt-3">
                    <input class="form-check-input fake-check" type="checkbox" value="{{ branch.pk }}">
                    <label class="form-check-label" for="defaultCheck1">{{ branch.name }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div><br>
    <form action="" method="get" id="filter-form">
        <label style="display: none;" for="start-date">از تاریخ</label>
        <input type="text" name="start-date" id="start-date" style="display: none;">
        <label style="display: none;" for="end-date">تا</label>
        <input type="text" name="end-date" id="end-date" style="display: none;">
        {% for branch in branches %}
        <div class="form-check mt-3" style="display: none;">
            <input class="form-check-input real-check" type="checkbox" value="{{ branch.pk }}" name="branch">
            <label class="form-check-label" for="defaultCheck1">{{ branch.name }}</label>
        </div>
        {% endfor %}
        <button class="btn btn-primary btn-lg" type="submit" id="filter-proxy-button">اعمال فیلتر</button>
    </form>
    {% for branch in branches %}
    <div class="branch-name" id="{{ branch.pk }}" style="display: none;">{{ branch.name }}</div>
    {% endfor %}
    <div id="container" style="width: 100%; height: 400px; margin-top: 45px;"></div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            const rawCategories = JSON.parse('{{ dates|safe }}');  

            
            const categories = rawCategories.map(dateStr => {
                const date = new Date(dateStr);
                return date.toLocaleDateString('fa-IR', {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit'
                });
            });

            const entry_totals = JSON.parse('{{ entry_totals|safe }}');
            const exit_totals = JSON.parse('{{ exit_totals|safe }}')
            lineChart = Highcharts.chart(
                'container', {
                    chart: {
                        type: 'line',
                        backgroundColor: '#f9f9f9',
                        style: {
                            fontFamily: 'tahoma',
                            fontSize: '20px'
                        }
                    },
                    title: {
                        text: "ترافیک",
                        style: {
                            fontSize: '25px',
                            color: '#333'
                        }
                    },
                    xAxis: {
                        categories : categories,
                        title: {
                            text: "تاریخ",
                            style: {
                            fontSize: '20px',
                            fontWeight: 'bold'
                            }
                        }
                    },
                    yAxis: {
                        title: {
                            text: "ترافیک",
                            style: {
                            fontSize: '20px',
                            fontWeight: 'bold'
                            }
                        }
                    },
                    series: [
                        {
                            name: "ورودی",
                            data: entry_totals
                        },
                        {
                            name: "خروجی",
                            data: exit_totals
                        }
                    ]
                }
            );

            
            document.getElementById('filter-form').addEventListener('submit', function(event) {
                event.preventDefault(); 
                const form = this;
                const formData = new FormData(form);
                const queryString = new URLSearchParams(formData).toString();
                const loadingOverlay = document.getElementById('loading-overlay');
                loadingOverlay.style.display = 'flex';
            
                
                fetch(`{% url 'people_counter' url_hash=request.user.profile.merchant.url_hash %}?${queryString}`, {
                    method: 'GET',
                    headers: { 'X-Requested-With': 'XMLHttpRequest' }
                })
                .then(response => {
                    if (!response.ok) throw new Error('Network response was not ok');
                    return response.json();
                })
                .then(data => {

                    const newCategories = data.dates.map(dateStr => {
                        const date = new Date(dateStr);
                        return date.toLocaleDateString('fa-IR', {
                            year: 'numeric',
                            month: '2-digit',
                            day: '2-digit'
                        });
                    });

                    lineChart.update({
                        xAxis: { categories: newCategories },
                        series: [{ data: data.entry_totals},
                        {data: data.exit_totals}
                        ],
                    });
                   
                    loadingOverlay.style.display = 'none';
                })
                .catch(error => {
                    console.error('Error:', error);
                    loadingOverlay.style.display = 'none';
                    alert('خطا در بارگذاری داده‌ها. لطفاً دوباره تلاش کنید.');
                });
            });
        });

        
        document.getElementById("select-all").addEventListener("change", () => {
            const isChecked = document.getElementById("select-all").checked
            document.querySelectorAll(".fake-check").forEach((item) => {
                item.checked = isChecked
            })
        })
    </script>
{% endblock %}
