{% extends 'base.html' %}
{% load static %}
{% block title %}
    پروفایل
{% endblock %}
{% block meta_description %}
	پروفایل
{% endblock %}
{% block content %}
<h4 class="py-3 breadcrumb-wrapper mb-4">
حساب
</h4>
<div class="row gy-4">
<!-- User Sidebar -->
<div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
    <!-- User Card -->
    <div class="card mb-4">
    <div class="card-body">
        <div class="user-avatar-section">
        <div class="d-flex align-items-center flex-column">
            <img class="img-fluid rounded my-4" src="{% static 'assets/img/avatars/defaul-avatar.webp' %}" height="110" width="110" alt="User avatar">
            <div class="user-info text-center">
            {% if user.first_name and user.last_name %}
            <h5 class="mb-2">{{ user.first_name }} {{ user.last_name }}</h5>
            {% endif %}
            {% if user.profile.is_manager %}
            <span class="badge bg-label-secondary">مدیر</span>
            {% else %}
            <span class="badge bg-label-secondary">کاربر</span>
            {% endif %}
            </div>
        </div>
        </div>
        <h5 class="pb-2 border-bottom mb-4 secondary-font">جزئیات</h5>
        <div class="info-container">
        <ul class="list-unstyled">
            <li class="mb-3">
            <span class="fw-bold me-2">نام کاربری:</span>
            <span>{{ user.username }}</span>
            </li>
            {% if user.email %}
            <li class="mb-3">
            <span class="fw-bold me-2">ایمیل:</span>
            <span>{{ user.email }}</span>
            </li>
            {% endif %}
            <li class="mb-3">
            <span class="fw-bold me-2">وضعیت:</span>
            {% if user.is_active %}
            <span class="badge bg-label-success">فعال</span>
            {% else %}
            <span class="badge bg-label-error">غیرفعال</span>
            {% endif %}
            </li>
            <li class="mb-3">
            <span class="fw-bold me-2">تماس:</span>
            {% if user.profile.mobile %}
            <span class="d-inline-block" dir="ltr">{{ user.profile.mobile }}</span>
            {% endif %}
            </li>
        </ul>
        <div class="d-flex justify-content-center pt-3">
            {% if request.user.profile.is_manager %}
            <a href="{% url 'edit-user-permissions' user_id=user.pk %}" class="btn btn-primary me-3" style="width: 100%;">ویرایش دسترسی ها</a>
            {% endif %}
        </div>
        </div>
    </div>
    </div>
    <!-- /User Card -->
</div>
<!--/ User Sidebar -->

<!-- User Content -->
<div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">

    <!-- Activity Timeline -->
    <div class="card mb-4">
        <div class="card-body">
        <h5> دسترسی ها </h5>
        {% if user.profile.is_manager %}
        <p>این کاربر دارای همه دسترسی ها می باشد</p>
        {% else %}
        {% for permission in permissions %}
        <p>{{ permission.name }}</p>
        {% endfor %}
        {% endif %}
        {% if user.profile.is_manager %}
        <p> این کاربر مجاز به دیدن اطلاعات همه شعب میباشد </p>
        {% else %}
        <h6>مجاز به دیدن اطلاعات شعب زیر می باشید:</h6>
        {% for branch in branches %}
        <p>{{ branch.branch.name }}</p>
        {% endfor %}
        {% endif %}
        {% if branch_length == 0 %}
        <p>این کاربر مجاز به دیدن اطلاعات هیچ شعبه ای نمی باشد</p>
        {% endif %}
        </div>
        {% if request.user.profile.is_manager %}
        <a href="{% url 'edit-branch-permissions' user_id=user.pk %}" class="btn btn-primary me-3" style="width: 30%; margin: 20px;">ویرایش دسترسی شعب</a>
        {% endif %}
    </div>
    <!-- /Activity Timeline -->
</div>
<!--/ User Content -->
</div>
{% endblock %}