{% extends 'base.html' %}
{% load static %}
{% block title %}
    منو آمار
{% endblock %}
{% block meta_description %}
	منو آمار
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- کارت ۱: ترافیک تجمیعی -->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <a href="{% url 'people_counter' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}?type=1" style="text-decoration: none; color: inherit;">
                <div class="card" style="background-color: #f8f2dbcc;">
                    <div class="card-body">
                        <h4 class="card-title">ترافیک تجمیعی</h4>
                        <p class="card-text">
                            این نمودار نشان می‌دهد که در مجموع همه شعب، در هر روز چه تعداد ورود به فروشگاه‌ها اتفاق افتاده است. 
                            <br>❓<strong>پاسخ به سؤال:</strong> در هر روز مجموع ورودی‌های همه شعب چند نفر بوده است؟
                        </p>
                        <p style="text-decoration: underline;">مشاهده</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- کارت ۲: ترافیک به تفکیک شعب -->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <a href="{% url 'people_counter' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}?type=2" style="text-decoration: none; color: inherit;">
                <div class="card" style="background-color: #eeedffcc;">
                    <div class="card-body">
                        <h4 class="card-title">ترافیک به تفکیک شعب</h4>
                        <p class="card-text">
                            این نمودار نشان می‌دهد که برای هر شعبه، در هر روز چه تعداد ورودی ثبت شده است. 
                            <br>❓<strong>پاسخ به سؤال:</strong> در هر روز هر شعبه چند نفر ورودی داشته است؟
                        </p>
                        <p style="text-decoration: underline;">مشاهده</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- کارت ۳: فروش تجمیعی -->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <a href="{% url 'invoice_counter' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}?type=1" style="text-decoration: none; color: inherit;">
                <div class="card" style="background-color: #dbf8e5cc;">
                    <div class="card-body">
                        <h4 class="card-title">فروش تجمیعی</h4>
                        <p class="card-text">
                            این نمودار نشان می‌دهد که مجموع فروش کل شعب در هر روز به چه میزان بوده است. 
                            <br>❓<strong>پاسخ به سؤال:</strong> در هر روز مجموع فروش همه شعب چقدر بوده است؟
                        </p>
                        <p style="text-decoration: underline;">مشاهده</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- کارت ۴: فروش به تفکیک شعب -->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <a href="{% url 'invoice_counter' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}?type=2" style="text-decoration: none; color: inherit;">
                <div class="card" style="background-color: #eeeeeecc;">
                    <div class="card-body">
                        <h4 class="card-title">فروش به تفکیک شعب</h4>
                        <p class="card-text">
                            این نمودار نشان می‌دهد که هر شعبه به‌صورت جداگانه در هر روز چه میزان فروش داشته است. 
                            <br>❓<strong>پاسخ به سؤال:</strong> در هر روز هر شعبه چه میزان فروش داشته است؟
                        </p>
                        <p style="text-decoration: underline;">مشاهده</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}