{% extends 'base.html' %}
{% load static %}
{% block title %}
    آپلود اطلاعات فروش
{% endblock %}
{% block meta_description %}
	آپلود اطلاعات فروش
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/vendor/libs/dropzone/dropzone.css' %}">
<!-- Drop Zone CSS -->
<style>
    .dragover {
        color: white;
        background-color: rgb(187, 187, 187);
    }
    #excel_file {
        display: none !important;
    }
    #dropzone-basic {
        cursor: pointer;
    }
    .hidden {
        display: none;
    } 
</style>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <div style="display: none;" class="alert alert-success" role="alert">{{ message }}</div>
        {% elif message.tags == 'warning' %}
        <div style="display: none;" class="alert alert-warning" role="alert">{{ message }}</div>
        {% else %}
        <div style="display: none;" class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}
{% if error %}
<!-- Error -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
    <h1 class="mb-2 mx-2 secondary-font">مشکلی در پردازش فایل پیش آمده</h1>
    <p class="mb-4 mx-2">{{ error }}</p>
    {% if branches %}
        {% for branch in branches %}
        <p>{{ branch.pk }} - {{ branch.name }}</p>
        {% endfor %}
    {% endif %}
    <a href="{% url 'upload_excel_file_invoice' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}" class="btn btn-primary">بازگشت</a>
    </div>
</div>
<!-- /Error -->
{% else %}
<div class="d-flex align-items-center py-3 mb-4">
    <i class='bx bx-cloud-upload bx-lg text-primary me-3'></i>
    <div>
        <h4 class="mb-1">آپلود اطلاعات فروش</h4>
        <p class="text-muted mb-0">فایل اکسل اطلاعات فروش را در این قسمت آپلود کنید. (فایل آپلود شده باید طبق تمپلیت باشد.)</p>
        <p class="text-muted mb-0"><a href="{% url 'excel_template_generator' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}"><i style="margin-left: 5px;" class='bx bx-plus-circle me-2'></i> ورود به صفحه ساخت تمپلیت اکسل</p></a>
    </div>
</div>
<div class="row">
<div class="col-12">
    <div class="card mb-4">
        <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">
            <form method="post" enctype="multipart/form-data" class="form form-control" id="dropzone-basic">
                {% csrf_token %}
                <input type="file" name="excel_file" id="excel_file">
                <div class="dz-message needsclick" id="dragarea">
                    فایل اکسل خود را اینجا رها کنید
                    <span class="note needsclick">فایل اکسل با توجه به تمپلیت مربوطه آپلود شود</span>
                </div>
            </form>
            <button class="btn btn-primary" id="submit-invoice-upload" style="margin-top: 25px; width: 15%;"><i style="margin-left: 10px;" class='bx bx-cloud-upload me-2'></i> آپلود</button>
            <button class="btn btn-danger" id="remove-invoice-file" style="margin-top: 25px; width: 15%;">حذف فایل</button>
            <a href="{% url 'home' url_hash=request.user.profile.merchant.url_hash|default:'defaulthash' %}" class="btn btn-secondary" type="button" style="margin-top: 25px; width: 15%;"><i style="margin-left: 10px;" class='bx bx-arrow-back me-2'></i> بازگشت</a>
        </div> 
    </div>
</div>
</div>
{% endif %}
{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/excel-file-upload-droparea.js' %}"></script>
{% endblock %}
