{% extends 'base.html' %}
{% load static %}
{% block title %}
	لیست کاربران
{% endblock %}
{% block meta_description %}
	لیست کاربران
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<h4 class="py-3 breadcrumb-wrapper mb-4">
    <i class='bx bx-user' style="margin-left: 10px; font-size: 30px;"></i>  
      لیست کاربران
</h4>
<div class="card" style="
    background-clip: padding-box;
    border-style: solid;
    box-shadow: none;
    border-width: 1px;
    border-color: #e5e5e5;
    border-radius: 12px;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
    ">
  <div class="table-responsive text-nowrap" style="margin-bottom: 100px;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>نام و نام خانوادگی</th>
          <th>شماره تلفن</th>
          <th>مرچنت</th>
          <th>وضعیت</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for user in users %}
        <tr>
          <td><i class="align-middle fab fa-angular fa-lg text-danger me-3"></i><strong>{{ user.user.first_name }} {{ user.user.last_name }}</strong></td>
          <td>
            {% if user.mobile %}
            {{ user.mobile }}
            {% else %}
            -
            {% endif %}
          </td>
          <td>
              {{ user.merchant.name }}
          </td>
          <td>
              {% if user.user.is_active %}
              <span class="badge bg-label-success">فعال</span>
              {% else %}
              <span class="badge bg-label-danger">غیرفعال</span>
              {% endif %}
          </td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>
<a onclick="window.history.back()" class="btn btn-secondary" type="button" style="margin-top: 25px; width: 120px; color: white;"><i style="margin-left: 10px;" class='bx bx-arrow-back me-2'></i> بازگشت</a>
{% endif %}
{% endblock %}